
	
        	<div class="page_title">
            	<h1>关于我们</h1>
                <p class="page_description">About Us</p>
                <div class="page_navigation">
                	<ul>
                    	<li><a href="/">主页</a></li>
                        <li class="nav_line">/</li>
                        <li>关于我们</li>
                    </ul>
                </div>
            </div>
            <div class="line"></div>
            <div class="separator"></div>
            <div class="block_cont_left">
                <div class="block_about_company">
                	<h3><%=about_info.title%></h3>
                	
                	<%-about_detail%>
                </div>
                <div class="line"></div>
                <div class="block_about_services">
                	<h3>Stages of our work</h3>
                    <p class="col_9c9c9c">
                    <%=about_info.content1%>
                     </p>
                    <p>&nbsp;</p>
                    <div>
	                	<div class="column">
	                    	<div class="num">01</div>
	                    	<div class="title">
	                        	<h5>Create design</h5>
	                            <p>Established fact.</p>
	                        </div>
	                        <div class="clear"></div>
	                        <p><%=about_info.content1_1%></p>
	                    </div>
	                    <div class="column">
	                    	<div class="num">02</div>
	                    	<div class="title">
	                        	<h5>Development</h5>
	                            <p>Distracted by the readble.</p>
	                        </div>
	                        <div class="clear"></div>
	                        <p> <%=about_info.content1_2%></p>
	                    </div>
	                    <div class="column">
	                    	<div class="num">03</div>
	                    	<div class="title">
	                        	<h5>Test&amp;release</h5>
	                            <p>Content of a page when.</p>
	                        </div>
	                        <div class="clear"></div>
	                          <p> <%=about_info.content1_3%></p>
	                    </div>
                	</div>
                </div>
                <div class="line"></div>
                <div class="block_our_services">
                	<h3>Our services</h3>
                    <div class="block_tabs">
                    	<div class="tabs_buttons">
                        	<ul>
                            	<li><a href="#1" class="active">photography</a></li>
                                <li><a href="#2">develop web sites</a></li>
                                <li><a href="#3">Programming</a></li>
                                <li><a href="#4">Customer support</a></li>
                            </ul>
                        </div>
                        <div class="tab_cont active">
                        	<div class="icon icon_photo"></div>
                            <div class="content">
                            	<p><%=about_info.content2_1%></p>
                            </div>
                        </div>
                        <div class="tab_cont">
                        	<div class="icon icon_develop"></div>
                            <div class="content">
                            	<p><%=about_info.content2_2%></p>
                                
                            </div>
                        </div>
                        <div class="tab_cont">
                        	<div class="icon icon_program"></div>
                            <div class="content">
                            	<p><%=about_info.content2_3%></p>
                            </div>
                        </div>
                        <div class="tab_cont">
                        	<div class="icon icon_comments"></div>
                            <div class="content">
                            	<p><%=about_info.content2_4%></p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="line"></div>
                <div class="block_testimonials">
                	<h3>Testimonials</h3>
                    <p>Fact that a reader will be distracted by readable content of  page when looking at its layout. The point of using Lorem Ipsum is that. Has a more-or-less normal distribution letters, as opposed to using.</p>
                    <div class="testimonials">
	                    <div class="testimonial">
	                    	<p class="text">Readable content of a page when looking at its layout. The point of using Lorem Ipsum is that. Has a more-or-less normal.</p>
	                        <p class="author">Roman Polyarysh. <a href="#" class="main_link">Web Designer</a></p>
	                    </div>
	                    <div class="testimonial">
	                    	<p class="text">Has a more-or-less normal. Of letters, as opposed to using content here, content here, making. At look like readable English. </p>
	                        <p class="author">John Doe. <a href="#" class="main_link">Photographer</a></p>
	                    </div>                        
                    </div>
                </div>
            </div>
            <div class="block_cont_right">
              	<div class="block_recent_posts">
                	<h4>最新产品</h4>
                	
                	  <% if(new_products && new_products.length > 0){
	               
	               		for(var i =0,len = new_products.length ; i< len ; i++){
					%>
   							<div class="post">
			                <div class="img"><a href="/productdetail?product_id=<%=new_products[i].id%>"><img style="width: 52px;"  src="<%=new_products[i].goods_img%>" alt="" title="<%=new_products[i].title%>"></a></div>
			                <div class="text">
			                 <p><a href="/productdetail?product_id=<%=new_products[i].id%>"><%=new_products[i].title%></a></p>
			                 <p class="date"><%=new_products[i].create_at%></p>
			                </div>
			               </div>
   					 <% }	%>
					<%}else{%>
					 <div class="post">
						<p class='col_fade' style="margin:20px;">暂无产品</p>
					 </div>
					<%}%>
               	 </div>
            	  <div class="block_recent_posts">
                	<h4>最新新闻</h4>
                	
                	  <% if(new_articles && new_articles.length > 0){
	               
	               		for(var i =0,len = new_articles.length ; i< len ; i++){
					%>
   							<div class="post">
			                <div class="img"><a href="/newsdetail?article_id=<%=new_articles[i].id%>"><img style="width: 52px;"  src="<%=new_articles[i].thumbnails%>" alt="" title="<%=new_articles[i].title%>"></a></div>
			                <div class="text">
			                 <p><a href="/newsdetail?article_id=<%=new_articles[i].id%>"><%=new_articles[i].title%></a></p>
			                 <p class="date"><%=new_articles[i].create_at%></p>
			                </div>
			               </div>
   					 <% }	%>
					<%}else{%>
					 <div class="post">
						<p class='col_fade' style="margin:20px;">暂无新闻</p>
					 </div>
					<%}%>
                </div>
                <div class="line"></div>
                <div class="block_blog_category">
                  	<h4>联系我们</h4>
                    <ul class="list2">
                    	<li><a href="#2"><b>Phone:</b> <%= locals.company_info.phone %></a> </li>
                    	<li><a href="#2"><b>Fax:</b> <%= locals.company_info.tel %></a></li>
                    	<li><a href="#2"><b>Email:</b> <a href="mailto:info@elephantweb.com" class="main_link"><%= locals.company_info.email %></a></li>
                    	<li style="height: 60px;"><a href="#2"><b>Our adress:</b>  <%= locals.company_info.address %></a></li>
                    </ul>
                </div>
                 <div class="line"></div>
               
            </div>
            <div class="clear"></div>
             <div class="separator_5"></div>
            <div class="line"></div>
           



