
        	<div class="page_title">
            	<h1>Contact Us</h1>
                <p class="page_description">This is a custom subpage description</p>
                <div class="page_navigation">
                	<ul>
                    	<li><a href="index.html">Elephant Home</a></li>
                        <li class="nav_line">/</li>
                        <li>Contact Us</li>
                    </ul>
                </div>
            </div>
            <div class="line"></div>
            <div class="separator"></div>
            <div class="block_cont_left">
            	<div class="block_contact_us">
                	<div class="title">
		                <h3>We support you by 24 hours, contact us</h3>
		                <p>Established fact that a reader will be distracted.</p>
                    </div>
	                <p><b>Рandful of model sentence structures, to generate Lorem Ipsum which looks reasonable. The generated Lorem Ipsum is therefor use Lorem Ipsum as their default model text.</b></p>
                    <p class="separator_2">&nbsp;</p>
	                <p>Need to be sure there isn't anything embarrassing hidden in the middle of text. All the Lorem Ipsum generators on the Internet tend to repeat predefined chunks as necessary, making this the first true generator on the Internet. It uses a dictionary of over 200 Latin words, combined with a handful of model sentence structures, to generate.</p>
                </div>
                <div class="line"></div>
                <div class="block_our_adress">
                	<h3>Our adress</h3>
                	<p class="icon1"><b>Corporate info:</b> Los Angeles, USA, 45896</p>
                    <p class="icon2"><b>Phone:</b> +1 568 247 15 44</p>
                    <p class="icon3"><b>Fax:</b> +1 568 354 78 25</p>
                    <p class="icon4"><b>Email:</b> <a href="mailto:info@elephantweb.com" class="main_link">info@elephantweb.com</a></p>
                </div>
                <div class="block_sales_department">
                	<h3>Sales department</h3>
                	<p class="icon2"><b>Phone:</b> +1 568 547 14 58</p>
                    <p class="icon3"><b>Fax:</b> +1 568 958 15 26</p>
                    <p class="icon4"><b>Email:</b> <a href="mailto:sales@elephantweb.com" class="main_link">sales@elephantweb.com</a></p>
                </div>
                <div class="clear"></div>
                <div class="separator_3"></div>
                <div class="line"></div>
                <div class="block_contact_form">
                	<h3>Contact form</h3>
                    <form action="" method="post" id="contact_form">
                    	<div class="double_block">
                        	<div class="inut_bg active_bg_form">
                            	<input type="text" name="u_name" title="Name&lt;span&gt;*&lt;/span&gt;" class="s_inp_text" value="" style="display: none; ">
                            <span>Name<span>*</span></span></div>
                            <div class="inut_bg active_bg_form">
                            	<input type="text" name="u_mail" title="E-mail&lt;span&gt;*&lt;/span&gt;" class="s_inp_text" value="" style="display: none; ">
                            <span>E-mail<span>*</span></span></div>
                        </div>
                        <div class="double_block">
                        	<div class="inut_bg active_bg_form">
                            	<input type="text" name="u_site" title="Website" class="s_inp_text" value="" style="display: none; ">
                            <span>Website</span></div>
                            <div class="inut_bg active_bg_form">
                            	<input type="text" name="u_phone" title="Phone" class="s_inp_text" value="" style="display: none; ">
                            <span>Phone</span></div>
                        </div>
                        <div class="clear"></div>
                        <div class="inut_bg big active_bg_form">
                            <input type="text" name="u_subject" title="Subject" class="s_inp_text" value="" style="display: none; ">
                        <span>Subject</span></div>
                        <div class="area_bg active_bg_form">
                            <textarea name="u_comment" cols="30" rows="10" title="Your comment&lt;span&gt;*&lt;/span&gt;" class="s_inp_text" style="display: none; "></textarea>
                        <span>Your comment<span>*</span></span></div>
                        <a href="#" class="button" id="submit">
                            <span class="left">
                                <span class="right">
                        			Submit comment
                                </span>
                            </span>
                        </a>
                    </form>
                </div>
            </div>
            <div class="block_cont_right">
            	<div class="block_our_loc">
	            	<h3>Our location</h3>
	                <div class="block_map" style="height="260px"">
						<iframe width="330" height="230" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="http://ditu.google.cn/maps?f=q&amp;source=s_q&amp;hl=zh-CN&amp;geocode=&amp;q=%E5%B9%BF%E4%B8%9C%E7%9C%81%E6%B7%B1%E5%9C%B3%E5%B8%82%E5%8D%97%E5%B1%B1%E5%8C%BA%E6%A1%83%E5%9B%AD%E8%B7%AF%E5%8D%97%E6%99%AF%E8%8B%91&amp;aq=&amp;sll=22.529048,113.935947&amp;sspn=0.085782,0.168056&amp;brcurrent=3,0x3403ee38a87109dd:0xbe3c6ac00bc54d8f,0,0x3403eef5f69e972f:0xd78ee0e90eff3922%3B5,0,0&amp;ie=UTF8&amp;hq=%E5%8D%97%E6%99%AF%E8%8B%91&amp;hnear=%E5%B9%BF%E4%B8%9C%E7%9C%81%E6%B7%B1%E5%9C%B3%E5%B8%82%E5%8D%97%E5%B1%B1%E5%8C%BA%E6%A1%83%E5%9B%AD%E8%B7%AF&amp;t=m&amp;ll=22.531982,113.920863&amp;spn=0.004559,0.00706&amp;z=16&amp;output=embed"></iframe>

						<br /><small><a href="http://ditu.google.cn/maps?f=q&amp;source=embed&amp;hl=zh-CN&amp;geocode=&amp;q=%E5%B9%BF%E4%B8%9C%E7%9C%81%E6%B7%B1%E5%9C%B3%E5%B8%82%E5%8D%97%E5%B1%B1%E5%8C%BA%E6%A1%83%E5%9B%AD%E8%B7%AF%E5%8D%97%E6%99%AF%E8%8B%91&amp;aq=&amp;sll=22.529048,113.935947&amp;sspn=0.085782,0.168056&amp;brcurrent=3,0x3403ee38a87109dd:0xbe3c6ac00bc54d8f,0,0x3403eef5f69e972f:0xd78ee0e90eff3922%3B5,0,0&amp;ie=UTF8&amp;hq=%E5%8D%97%E6%99%AF%E8%8B%91&amp;hnear=%E5%B9%BF%E4%B8%9C%E7%9C%81%E6%B7%B1%E5%9C%B3%E5%B8%82%E5%8D%97%E5%B1%B1%E5%8C%BA%E6%A1%83%E5%9B%AD%E8%B7%AF&amp;t=m&amp;ll=22.531982,113.920863&amp;spn=0.004559,0.00706&amp;z=16" style="color:#0000FF;text-align:left">查看大图</a></small>

	                </div>
                </div>
                <div class="line"></div>
                <div class="block_text_widget">
                	<h3>text widget</h3>
                    <div class="img_box shadow_img">
                    	<div style="background-image: url(http://elephantweb.webglogic.com/images/img_text_w.jpg); ">
                    		<a href="images/big_img1.jpg" rel="prettyPhoto[gallery1]"><img src="images/img_text_w.jpg" alt=""></a>
                        </div>
                    </div>
                    <p>Established fact that a reader will be distract  readable content  of a page when looking at its layout. The point of using Lorem Ipsum is that. Has a more-or-less. Of letters, posed. To using content here</p>
                </div>
            </div>
            <div class="clear"></div>
            <div class="separator_5"></div>
            <div class="line"></div>
           