	    	<div id="my_slider">
							<div class="info_block_my_slider">
								<div id="min_images_my_slider">
									<ul>
	    	 <% if(focus && focus.length > 0){
	               		for(var i =0,len = focus.length ; i< len ; i++){
					%>
   								
   							
									<li>
									<% if(focus[i].link){%>
									<a href="<%=focus[i].link%>" <% if(i == 0){%>  class="active" <%}%>	><img src="<%=focus[i].url%>" alt="<%=focus[i].content%>" title="<%=focus[i].title%>"></a>
									<%}else{%>	
										<a href="#2" <% if(i == 0){%>  class="active" <%}%>	><img src="<%=focus[i].url%>" alt="<%=focus[i].content%>" title="<%=focus[i].title%>"></a>
									<%}%>	
									</li>
								
   					 <% }	%>
					<%}else{%>
									<li><a href="images/slider1/slider_img_thumbs1.jpg" class="active"><img src="images/slider1/slider_img1.jpg" alt="2" title="2222"></a></li>
									<li><a href="images/slider1/slider_img_thumbs2.jpg" ><img src="images/slider1/slider_img2.jpg" alt="3" title=""></a></li>
									<li><a href="images/slider1/slider_img_thumbs3.jpg"><img src="images/slider1/slider_img3.jpg" alt="" title=""></a></li>
									<li><a href="images/slider1/slider_img_thumbs4.jpg" ><img src="images/slider1/slider_img4.jpg" alt="" title=""></a></li>
									<li><a href="images/slider1/slider_img_thumbs5.jpg"><img src="images/slider1/slider_img5.jpg" alt="" title=""></a></li>
									<li><a href="images/slider1/slider_img_thumbs6.jpg"><img src="images/slider1/slider_img6.jpg" alt="" title=""></a></li>
							
					<%}%>
	    	
         						</ul>
						</div>
					</div>
				</div>
			 <div class="line"></div>
            <div class="block_slogan">
            	<p>ElephantWeb! is a clean Premium HTML Theme suitable for <span>portfolio, company</span> and any kind of websites.</p>
                <p>This theme <span>provides all</span> the main functionality you will need to present your product.</p>
            </div>
            <div class="line"></div>
            <div class="block_about">
            	<div class="col_1">
                	<h2>About The Company</h2>
                    <div class="image">
                    </div>
                    <div class="text" style="color: #8E8E8E;">
                    	<%- about_detail.match(/[^\x00-\xff]/g).join('').replace(/[宋体,楷体,隶书,黑体]/g,'').substring(0,200) %>...
                        <div class="clear"></div>
                        <a href="#" class="button">
                            <span class="left">
                                <span class="right">
                                    Read more
                                </span>
                            </span>
                        </a>
                    </div>
                </div>
                <div class="col_2">
                	<h2>Our services</h2>
                    <div class="column_l">
                    	<div class="image icon_develop">
                        </div>
                    	<div class="text">
                    		<h5><a href="#">develop web sites</a></h5>
                           <p><%=about_info.content2_1%></p>
                        </div>
                        <div class="clear"></div>
                        <div class="image icon_program">
                        </div>
                    	<div class="text">
                    		<h5><a href="#">Programming </a></h5>
                          <p><%=about_info.content2_2%></p>
                        </div>
                    </div>
                    <div class="column_r">
                    	<div class="image icon_photo">
                        </div>
                    	<div class="text">
                    		<h5><a href="#">Photography</a></h5>
                            <p><%=about_info.content2_3%></p>
                        </div>
                        <div class="clear"></div>
                        <div class="image icon_comments">
                        </div>
                    	<div class="text">
                    		<h5><a href="#">customer support</a></h5>
                           <p><%=about_info.content2_4%></p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="line"></div>
            <div class="block_resent">
                <h2>最新产品</h2>
                <div class="images">
                 <% if(new_products && new_products.length > 0){
	               		var len = new_products.length;
                 		len = len >4 ? 4 : len;
	               		for(var i =0 ; i< len ; i++){
					%>
					 <div class="img_box shadow_img see_big">
	                	<div>
                        	<div class="description">
                            	<p class="alt">Description of the image 1</p>
                                <p class="title"><a href="/productdetail?product_id=<%=new_products[i].id%>"><%=new_products[i].title%></a></p>
                            </div>
                            <div class="link_big"><a href="<%= new_products[i].goods_img %>" rel="prettyPhoto[gallery1]"></a></div>
	                    		<a class="imgbox" ><img  src="<%= new_products[i].goods_img %>" title="" alt="" data-pinit="registered"> </a>
	                    </div>
	                </div>
   					 <% }	%>
					<%}else{%>
					 <div class="post">
						<p class='col_fade' style="margin:20px;">暂无产品</p>
					 </div>
					<%}%>
                
	               

                </div>
            </div>
            <%-partial('page/footer-top')%>