
        	<div class="page_title">
            	<h1>产品</h1>
                <p class="page_description">Product</p>
                <div class="page_navigation">
                	<ul>
                    	<li><a href="/product">主页</a></li>
                        <li class="nav_line">/</li>
                        <li>产品</li>
                    </ul>
                </div>
            </div>
            
            <div class="line"></div>
            <div class="block_filter">
            	<p>Filter:</p>
                <ul id="J_ProductBox">
                	<li class="first"><a href="/product" class="" title="all">All Categories</a></li>
                 <% if(categorys && categorys.length > 0){
	               		for(var i =0,len = categorys.length ; i< len ; i++){
					%>
					 <% if(i == (len-1)){ %>
					  	 <% if(category.id == categorys[i].id){%>
						 	<li class="last"><a class="active" href="/productsincategory?user_id=1&category_id=<%=categorys[i].id%>" ><%=categorys[i].name %></a></li>
						 <% }else{ %>
						 	 	<li class="last"><a  href="/productsincategory?user_id=1&category_id=<%=categorys[i].id%>" ><%=categorys[i].name %></a></li>
						 <% } %>
					 <% }else{ %>
					   	 <% if(category.id == categorys[i].id ){%>
						 	<li ><a class="active" href="/productsincategory?user_id=1&category_id=<%=categorys[i].id%>" ><%=categorys[i].name %></a></li>
						 <% }else{ %>
						 	 	<li ><a  href="/productsincategory?user_id=1&category_id=<%=categorys[i].id%>" ><%=categorys[i].name %></a></li>
						 <% } %>
					 <% } %>
					 
   					 <% }	%>
					<%}else{%>
						<li class="first"><a href="#2" >暂无分类</a></li>
					<%}%>
                
                	
                </ul>
            </div> 
             <% if(articles && articles.length > 0){
					%>
            <div class="block_portfolio_c2 filter_conteiner">
		           
					<%- partial('frontend/product/product_item',{collection:articles,as:'article'}) %>
                <div class="clear"></div>
            </div>
            <%}else{%>
					<div class="block_info_boxes">
					<div class="info_box">
                            	<div>
                                	<p><b>Info:</b>  <% if(category && category.name){%>
									<%=category.name %>分类下
						 <% } %>还没有产品哦！</p>
                                </div>
	                        </div>
	                        </div>
					<%}%>
              <% if(articles && articles.length > 0){
					%>
                <div class="block_blogs_nav">
						<% if(current_page == pages){ %>
						<a href="#2" class="prev">没有了</a>
						<% }else{ %>
						<a href="/news?page=<%=current_page+1 %>" class="prev">下一页</a>
						<% } %>
						<% if(current_page == 1){ %>
						<a href="#2" class="next"></a> 
						<% }else{ %>
						<a href="/news?page=<%=current_page-1 %>" class="next">上一页</a> 
						<% } %>
                	</div>
                	<%}%>
            <div class="clear"></div>

		<%-partial('page/footer-top')%>