
        	<div class="page_title">
            	<h1>产品</h1>
                <p class="page_description">Product</p>
                <div class="page_navigation">
                	<ul>
                    	<li><a href="/product">主页</a></li>
                        <li class="nav_line">/</li>
                        <li>产品</li>
                    </ul>
                </div>
            </div>
            
            <div class="line"></div>

  <div class="block_cont_left">
             <% if(articles && articles.length > 0){
					%>
            <div class="block_portfolio_c4 filter_conteiner">
		           
					<%- partial('frontend/product/product_item',{collection:articles,as:'article'}) %>
                <div class="clear"></div>
            </div>
            <%}else{%>
					<div class="block_info_boxes">
					<div class="info_box">
                            	<div>
                                	<p><b>Info:</b>  <% if(category && category.name){%>
									<%=category.name %>分类下
						 <% } %>还没有产品哦！</p>
                                </div>
	                        </div>
	                        </div>
					<%}%>
              <% if(articles && articles.length > 0){
					%>
                <div class="block_blogs_nav">
						<% if(current_page == pages){ %>
						<a href="#2" class="prev">没有了</a>
						<% }else{ %>
						<a href="/news?page=<%=current_page+1 %>" class="prev">下一页</a>
						<% } %>
						<% if(current_page == 1){ %>
						<a href="#2" class="next"></a> 
						<% }else{ %>
						<a href="/news?page=<%=current_page-1 %>" class="next">上一页</a> 
						<% } %>
                	</div>
                	<%}%>
            <div class="clear"></div>
</div>
			<div class="block_cont_right">
                
<div class="block_blog_category"> 
	                  	<h4>产品分类</h4> 
	                    <ul class="list2" id="product_caregory_panel" >


						</ul> 
	                </div>



               	  <div class="line"></div>
                <div class="block_blog_category">
                  	<h4>联系我们</h4>
                    <ul class="list2">
                    	<li><a href="#2"><b>Phone:</b> <%= locals.company_info.phone %></a> </li>
                    	<li><a href="#2"><b>Fax:</b> <%= locals.company_info.tel %></a></li>
                    	<li><a href="#2"><b>Email:</b> <a href="mailto:info@elephantweb.com" class="main_link"><%= locals.company_info.email %></a></li>
                    	<li style="height: 60px;"><a href="#2"><b>Our adress:</b>  <%= locals.company_info.address %></a></li>
                    </ul>
                </div>
            </div>


