
        	<div class="page_title">
            	<h1>产品</h1>
                <p class="page_description">Products</p>
                <div class="page_navigation">
                	<ul>
                    	<li><a href="/">主页</a></li>
                        <li class="nav_line">/</li>
                        <li>产品</li>
                    </ul>
                </div>
            </div>
            <div class="line"></div>
         <!--    <div class="block_filter">
            	<p>Filter:</p>
                <ul>
                	<li class="first"><a href="#" class="active" title="all">All Categories</a></li>
                    <li><a href="#" title="webdesign">Web Design</a></li>
                    <li><a href="#" title="icon">Icons</a></li>
                    <li><a href="#" title="illustrations">Illustrations</a></li>
                    <li class="last"><a href="#" title="video">Video</a></li>
                </ul>
            </div> -->
             <% if(articles && articles.length > 0){
					%>
            <div class="block_portfolio_c2 filter_conteiner">
		           
					<%- partial('frontend/product/product_item',{collection:articles,as:'article'}) %>
                <div class="clear"></div>
            </div>
            <%}else{%>
					<div class="block_info_boxes">
					<div class="info_box">
                            	<div>
                                	<p><b>Info:</b> 还没有产品哦！</p>
                                </div>
	                        </div>
	                        </div>
					<%}%>
              <% if(articles && articles.length > 0){
					%>
                <div class="block_blogs_nav">
						<% if(current_page == pages){ %>
						<a href="#2" class="prev">没有了</a>
						<% }else{ %>
						<a href="/news?page=<%=current_page+1 %>" class="prev">下一页</a>
						<% } %>
						<% if(current_page == 1){ %>
						<a href="#2" class="next"></a> 
						<% }else{ %>
						<a href="/news?page=<%=current_page-1 %>" class="next">上一页</a> 
						<% } %>
                	</div>
                	<%}%>
            <div class="clear"></div>

		