	<div id="header">
    	<div class="inner">
			<div class="block_top_navigation">
	        	<div class="col_1">
	            	<p>Call us now: (489) 450-7821</p>
	            </div>
	        	<div class="col_2">
	            	<div class="block_social_top">
                    	<p>Follow us:</p>
	                	<a href="#" class="facebook">Facebook</a>
                        <a href="#" class="twitter">Twitter</a>
                        <a href="#" class="rss">Rss</a>
	                </div>
	            </div>
            </div>
            <div class="line"></div>
            <div class="block_mid">
	            <div id="logo">
	            	<a href="/signin"><img src="images/logo.jpg" alt="ElephantWeb" title="ElephantWeb" data-pinit="registered"></a>
	            </div>
                <div id="menu">
                	<ul>
	                	<li><a href="/"  <% if(locals.active == 'index'){ %> class="active" <% } %> >首页<span>start here</span></a>
                        	<ul style="display: none;">
                            	<li><a href="index.html" class="active" style="padding-left: 0px;">Basic slider</a></li>
                            	<li><a href="index2.html" style="padding-left: 0px;">Nivo slider</a></li>
                            	<li><a href="index3.html" style="padding-left: 0px;">Thumbnail slider</a></li>
                            </ul>
                        </li>
	                	<li><a href="/about" <% if(locals.active == 'about'){ %> class="active" <% } %> >关于我们<span>our company</span></a></li>
	                	<li><a href="/cases" <% if(locals.active == 'cases'){ %> class="active" <% } %>>案例<span>about this theme</span></a>
                        	<ul style="display: none;">
                              	<li><a href="columns.html">Columns</a></li>
                                <li><a href="typography.html">Typography</a></li>
                                <li><a href="additional_elements.html">Additional elements</a></li>
                            	<li><a href="pricing_table.html">Pricing table</a></li>
                            	<li><a href="404.html">404 page</a></li>
                            	<li><a href="archives.html">archives</a></li>
                            </ul>
                        </li>
	                	<li><a href="/product" <% if(locals.active == 'product'){ %> class="active" <% } %> >产品<span>videos &amp; images</span></a>
                        	<ul style="display: none;">
                            	<li><a href="portfolio_c2.html">Portfolio 2 columns 1</a></li>
                            	<li><a href="portfolio_c2_t2.html">Portfolio 2 columns 2</a></li>
                            	<li><a href="portfolio_c3.html">Portfolio 3 columns 1</a></li>
                                <li><a href="portfolio_c3_t2.html">Portfolio 3 columns 2</a></li>
                                <li><a href="portfolio_c4.html">Portfolio 4 columns 1</a></li>
                                <li><a href="portfolio_c4_t2.html">Portfolio 4 columns 2</a></li>
                                <li><a href="portfolio_c2_wl.html">Portfolio with link</a>
                                	<ul>
                                    	<li><a href="portfolio_c2_wl.html">Portfolio 2 columns</a></li>
		                            	<li><a href="portfolio_c3_wl.html">Portfolio 3 columns</a></li>                                
		                            	<li><a href="portfolio_c4_wl.html">Portfolio 4 columns</a></li>
                                    </ul>
                                </li>
                            	<li><a href="portfolio_items.html">Gallery</a>
                                	<ul>
                                    	<li><a href="portfolio_items.html">show gallery</a></li>
		                            	<li><a href="portfolio_c4_ws.html">gallery with sidebar</a></li>
                                    </ul>
                                </li>
                            	<li><a href="portfolio_item.html">Portfolio item page</a></li>
                            </ul>
                        </li>
	                	<li><a href="/news" <% if(locals.active == 'news'){ %> class="active" <% }  %> >新闻&文档<span>daily posts</span></a>
                        	<ul>
                            	<li><a href="blog1.html">blog style 1</a></li>
                            	<li><a href="blog2.html">blog style 2</a></li>
                                <li><a href="blog3.html">blog style 3</a></li>
                            	<li><a href="blog4.html">blog style 4</a></li>
                            	<li><a href="blog5.html">blog style 5</a></li>
                            	<li><a href="blog_c3.html">Blog  With Dual Sidebar</a></li>
                            	<li><a href="blog_f_w.html">Blog full width</a></li>
                                <li><a href="blog_post1.html">blog post pages</a>
                                	<ul>
                                    	<li><a href="blog_post1.html">Blog post page1</a></li>
		                            	<li><a href="blog_post2.html">Blog post page2</a></li>                                
		                            	<li><a href="blog_post3.html">Blog post page3</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </li>
	                	<li><a href="/contact" <% if(locals.active == 'contact'){ %> class="active" <%  } %> >联系我们<span>get in touch</span></a></li>
                    </ul>
                </div>
            </div>
            <div class="line"></div>
        </div>
	</div>


