	<!-- 前台 -->
	<% if(!locals.current_user){%>

		<link rel="stylesheet" type="text/css" href="css/style.css">
		<link rel="stylesheet" type="text/css" href="css/prettyPhoto.css">
		<link rel="stylesheet" type="text/css" href="css/my_slider_style.css">
		<script type="text/javascript" src="js/jquery.min.js"></script>
		<script type="text/javascript" src="js/jquery.prettyPhoto.js"></script>
		<script type="text/javascript" src="js/jquery.inputstext.js"></script>
		<script type="text/javascript" src="js/jquery.easing.js"></script>
		<script type="text/javascript" src="js/my_slider.js"></script>
		<script type="text/javascript" src="js/main.js"></script>

		<!-- //主题设置 -->
		<link rel="stylesheet" type="text/css" href="css/themes.css">
		<link rel="stylesheet" type="text/css" href="css/theme_style.css">
		<script type="text/javascript" src="js/setting_themes.js"></script>

	<% }else{ %>
		<!-- //后台 -->
		<link rel="stylesheet" href="/libs/bootstrap/css/bootstrap.min.css" />
		<link rel="stylesheet" href="/css/main.css" />
	
		<link rel="stylesheet" type="text/css" href="/libs/SyntaxHighlighter/shCoreDefault.css" />
		<link rel="stylesheet" type="text/css" href="/libs/ueditor/themes/default/ueditor.css" />
	
		<% if(locals.active){ %>
			<link rel="stylesheet" type="text/css" href="/css/app/main-<%= locals.active%>.css" media="screen" />	
		<% } %>
		<!-- script -->
		<script type='text/javascript' src='/libs/jquery/jquery.js'></script>
		<script type='text/javascript' src='/libs/bootstrap/js/bootstrap.min.js'></script>
		<script type='text/javascript' src='/libs/bootstrap/js/bootstrap-tooltip.js'></script>
		<script type="text/javascript" charset="utf-8" src="/libs/juicer/juicer-min.js"></script>
		<script type="text/javascript" charset="utf-8" src="/libs/easydialog/easydialog.min.js"></script>
		<script type="text/javascript" charset="utf-8" src="/libs/SyntaxHighlighter/shCore.js"></script>
		<script type="text/javascript" charset="utf-8" src="/libs/ueditor/editor_config.js"></script>
		<script type="text/javascript" charset="utf-8" src="/libs/ueditor/editor_all_min.js"></script>
    
    	<script src="http://a.tbcdn.cn/s/kissy/1.2.0/??kissy-min.js"> </script>
     	<script src="/caihongpu/base-min.js"> </script>
		<script type="text/javascript">
	    	var S = KISSY, DOM = S.DOM,Event = S.Event;	doc = document;
	    	KISSY.config({
	        	packages:[
	            	{
	                name:"1.0", //包名
	                tag:"20120528",//时间戳, 添加在动态脚本路径后面, 用于更新包内模块代码
	                path:"/caihongpu/", //包对应路径, 相对路径指相对于当前页面路径
	                charset:"utf-8"//包里模块文件编码格式
	            	}
	        	],
	        	map:[
	             	[/(.+1.0\/.+)-min.js(\?[^?]+)?$/, "$1.js$2"]
	         	]
	    	});
		</script>

	 <% } %>