


<table class="table table-hover">
              <thead>
                <tr>
                  <th>#</th>
                  <th>First Name</th>
                  <th>Last Name</th>
                  <th>Username</th>
                </tr>
              </thead>
     <tbody>
			<% for(var i =0;i< locals.focus.length;i++){
				var focu = locals.focus[i];
			%>
   				<tr>
                  <td><%= focu.title%></td>
                  <td><%= focu.url%></td>
                  <td><%= focu.sort %></td>
                  <td><%= focu.create_at%></td>
 					<td><%= focu.content%></td>
                </tr>

			<%}%>
      </tbody>
</table>
       

