<tr style="line-height:30px;">
	<td><%= category2.sequence %></td>
	<td><%= category2.name %></td>
    <td><img src="<%= category2.category_img %>" width="50px" /> </td>
	<td>
	<a href='/product/category2/<%= category2.id %>/edit?category1_id=<%= category.id %>'><img class='user_icon' src='/img/doc_edit_icon&16.png' title='编辑' /></a>
	</td>
	<td>
	<a class='delete_category_btn' href='/product/category2/<%= category2.id %>/delete?category1_id=<%= category.id %>'><img class='user_icon' src='/img/trash_icon&16.png' title='删除' /></a>
	</td>
</tr>
