<div class="main-body">

	<div class='panel'>
		<div class='header'>
			<span class='col_fade'><a href="/product/categories/edit/">所有产品分类</a>&nbsp;&nbsp;&gt;&gt;&nbsp;&nbsp;编辑产品二级分类</span>
		</div>
		<div class='inner'>
			<form id='edit_category_form' class='form-horizontal' action='/product/category2/<%= category.id %>/modify' method='post'>
				<div class='control-group'>
					<label class='control-label' for='name'>名字</label>
					<div class='controls'>
						<input class='input-xlarge' id='name' name='name' size='30' type='text' value='<%= category.name %>'/>
						<p class='help-block'>须为汉字和字母和数字组合</p>
					</div>
				</div>
                
                			  <div class="control-group">
							<label class="control-label">上传二级分类缩略图：</label>
							<div class="controls">
								<input class="" type="hidden" name="category_img" value="<%= category.category_img %>"  id="J_Url" >
								<img id='current_avatar' style='padding:4px;border:1px solid #eee' src='<%= category.category_img %>'/>
							</div>
					  </div>
				   		<div class="control-group">
						<label class="control-label">选择文件：</label>
						<div class="controls">
							<a onclick="chooseAvatar()" href='javascript:void(0)' class="btn btn-info">选择文件</a>
							<a id="link_upload_file" onclick="uploadAvatar()" href='javascript:void(0)' class="btn btn-info" style="display:none;">上传</a>
							<div style="height:15px;width:100px;"></div>
							<span  class="label label-info" id="file_name_span">提示信息</span>
						</div>
				  		</div>
				  		<div class='sep10'></div>
				<div class='sep10'></div>
                
                
                
				<div class='control-group'>
					<label class='control-label' for='sequence'>序号</label>
					<div class='controls'>
					<select class='span2' name='sequence'>
					<% if(categories && categories.length > 0 ){ %>
					<% for(var i=0; i < categories.length; i++){ %>
					<% if(category.sequence == (i+1)){ %>
						<option value='<%= i+1 %>' selected='selected'><%= i+1 %></option>
					<% }else{ %>
						<option value='<%= i+1 %>'><%= i+1 %></option>
					<% } %>
					<% } %>
					<% } %>
					</select>
					<p class='help-block'>分类按此序号由小到大排序</p>
					</div>
				</div>
				<input type='hidden' name='category1_id' value='<%= category1_id %>' />
				<input type='hidden' name='_csrf' value='<%= csrf %>' />
				<div class='control-group'>
					<label class='control-label'></label>
					<div class='controls'>
						<input type='submit' class='btn' value='保存' />
					</div>
				</div>
			</form>
		</div>
	</div>
</div>
	<form id="avatarForm" action="/focus/upload" method="post" target="hidden_frame" enctype="multipart/form-data" style="visibility:hidden;">
					<input type="file" name="avatar" onchange="changeFileChoose(this);" />
					<input type="submit" id="upload_submit_button"/>
				</form>
				<!-- 隐藏提交iframe -->
				<iframe name="hidden_frame" id="hidden_frame" style="display:none"></iframe>
				<script type="text/javascript" src="/libs/jquery/jquery.form.js"></script>
     			 <script>
					$('#avatarForm').ajaxForm({
					    complete : function(xhr) {
					        var data = xhr.responseText;
					        data = eval("(" + data + ")");
					        if (data.state=='success') {
					            $('#file_name_span').html($('#file_name_span').text()+":上传成功");
					            $('#current_avatar').attr('src', data.url);
 								$('#J_Url').attr('value', data.url);
 								$('#submit_btn').removeAttr('disabled');
					        }
					        else {
					            alert('上传图片失败');
					        }
					    }
					});
				    function chooseAvatar() {
				        $("input[name='avatar']").click();
				        $('#link_upload_file').show();
				    }
				    function changeFileChoose(obj){		
				        $('#link_upload_file').show();
						$('#file_name_span').html(obj.value);
						$('#submit_btn').attr('disabled','disabled');
					}
				    function uploadAvatar(obj){
				        $('#link_upload_file').hide();
				        $('#upload_submit_button').click();
				    }

				</script> 	