
<% if(locals.error){ %>
<div class="error_box">
                            	<div>
                            		<p><b>错误:</b> <%= error %></p>
                            	</div>
	                        </div>

<% } %>
<% if(locals.success){ %>
 <div class="download_box">
                            	<div>
                            		<p><b>温馨提示:</b><%= success %></p>
                            	</div>
	                        </div>
<% } %>
<% if(locals.infomsg){ %>
 <div class="info_box">
                            	<div>
                            		<p><b>温馨提示:</b><%= infomsg %></p>
                            	</div>
	                        </div>
<% } %>
<% if(locals.note){ %>
 <div class="note_box">
                            	<div>
                            		<p><b>警告:</b><%= note %></p>
                            	</div>
	                        </div>
<% } %>
