        	<div class="page_title">
            	<h1>Blog Post 1</h1>
                <p class="page_description">This is a custom subpage description</p>
                <div class="page_navigation">
                	<ul>
                    	<li><a href="index.html">Elephant Home</a></li>
                        <li class="nav_line">/</li>
                        <li>Blog Post 1</li>
                    </ul>
                </div>
            </div>
            <div class="line"></div>
            <div class="separator"></div>
            <div class="block_cont_left">
            	<div class="block_blog post_type1">

                    <div class="title">
						<div class="date" style="width:55px;height:55px">
	                    		<div class="calendar"> 
									<div class="calendar-month"><%=article.create_at.substring(5,7)%></div> 
									<div class="calendar-day"><%=article.create_at.substring(8,10)%></div> 
								</div>
	                     </div>
                        <div class="blog_info">
                        	<h3><%= article.title %></h3>
                            <ul>
                            	<li><i>作者：</i> <a href="#"><%= author.loginname %></a></li>
								<li><a href="#"><%=article.visit_count%></a>&nbsp; 次点击</li>
                                <li><a href="#comments"><%=article.reply_count%></a> 次回复</li>
                            </ul>
                        </div>
                    </div>
                    <div class="blog_content">
						<%- article.content %>
                    </div>
				</div>
                <div class="tags">
                    <p><b>Tags:</b></p>
					<p class="links">
 					<%for(var cli=0;cli < article_categories.length;cli++){%>
						<% if(cli == 0){%>
							<a href="/articles/<%=article.author_id%>/<%=article_categories[cli].id%>"><%=article_categories[cli].name%></a>  
						<%}else{%>
							,<a href="/articles/<%=article.author_id%>/<%=article_categories[cli].id%>"><%=article_categories[cli].name%></a>  
						<%}%>
					<%}%>
						</p>
                </div>
                <div class="block_comments" id="comments">
<!-- 回复列表 -->	
	<% if (article.replies && article.replies.length > 0) { %>
 		<h2>回复 <span>(<%= article.replies.length %>)</span></h2>


<div class='cell reply_area reply_item' id='reply<%= indexInCollection+1 %>' reply_id='<%= reply.id %>'>
	<% if(reply.author.avatar){ %>
	<div class='user_avatar'><a href='/user/<%= reply.author.id %>'><img src='<%= reply.author.avatar %>' title='<%= reply.author.loginname %>' /></a></div>
	<% }else{ %>
	<div class='user_avatar'><a href='/user/<%= reply.author.id %>'><img src='/img/avatar.png' title='<%= reply.author.loginname %>' /></a></div>
	<% } %>
	<span class='col_fade fr'>#<%= indexInCollection+1 %></span>
	<span class='reply_author'><a class='dark' href='/user/<%= reply.author.id %>'><%= reply.author.loginname %></a></span>
	<div class='sep5'></div>
	<div class='reply_content'>
	<%- reply.content %>
	</div>
	<div class='cl'>
		<div class='sep5'></div>
		<span class='col_fade'>
			<%= reply.friendly_create_at %>
			<% if(locals.current_user && current_user.id == reply.author.id){ %>
			<span class='sp10'></span>
			<a href='javascript:void(0);' class='delete_reply_btn'><img class='user_icon' src='/img/trash_icon&16.png' title='删除' /></a>
			<% } %>
		</span>
		<span class='fr'>
			<% if(locals.current_user){ %>
			<a href='#reply_editor_panel' class='dark reply2_btn'>回复</a>	
			<% } %>
		</span>
	</div>
</div>

		<%- partial('reply/reply', article.replies) %>
	</div>
	<% } %>
                   
                    <div class="box_comment">
                        <div class="avatar"><img src="images/user_1.jpg" alt="" title=""></div>
                        <div class="comment">
                            <div class="comment_title">
                                <p class="user"><a href="#">ADMIN</a></p>
                                <p class="date">December 15, 2011 at 12:45 am</p>
                            </div>
                            <div class="comment_body">
                                <p>Рandful of model sentence structures, to generate Lorem Ipsum which looks reasonable. The generated Lorem Ipsum is therefor use Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncove.</p>
                            </div>
                            <div class="reply"><a href="#">Reply</a></div>
                        </div>
                    </div>
                    <div class="box_comment">
                        <div class="avatar"><img src="images/user_2.jpg" alt="" title=""></div>
                        <div class="comment">
                            <div class="comment_title">
                                <p class="user"><a href="#">Roman polyarush</a></p>
                                <p class="date">December 5 2011 at 10:20 am</p>
                            </div>
                            <div class="comment_body">
                                <p>Model sentence structures, to generate Lorem Ipsum which looks reasonable. The generated Lorem Ipsum is therefor use Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncove.</p>
                            </div>
                            <div class="reply"><a href="#">Reply</a></div>
                        </div>
                        <div class="box_comment">
                            <div class="avatar"><img src="images/user_3.jpg" alt="" title=""></div>
                            <div class="comment">
                                <div class="comment_title">
                                    <p class="user"><a href="#">Sara jordan</a></p>
                                    <p class="date">December 5 2011 at 14:20 am</p>
                                </div>
                                <div class="comment_body">
                                    <p>Model sentence structures, to generate Lorem Ipsum which looks reasonable. The generated Lorem Ipsum is therefor use Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncove.</p>
                                </div>
                            </div>
                        </div>
                        <div class="box_comment">
                            <div class="avatar"></div>
                            <div class="comment">
                                <div class="comment_title">
                                    <p class="user"><a href="#">Piter larkin</a></p>
                                    <p class="date">December 5 2011 at 16:24 am</p>
                                </div>
                                <div class="comment_body">
                                    <p>Model sentence structures, to generate Lorem Ipsum which looks reasonable. The generated Lorem Ipsum is therefor use Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncove.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="box_comment">
                        <div class="avatar"><img src="images/user_2.jpg" alt="" title=""></div>
                        <div class="comment">
                            <div class="comment_title">
                                <p class="user"><a href="#">Roman polyarush</a></p>
                                <p class="date">December 5 2011 at 10:20 am</p>
                            </div>
                            <div class="comment_body">
                                <p>Many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable. </p>
                            </div>
                            <div class="reply"><a href="#">Reply</a></div>
                        </div>
                    </div>
                </div>

                <div class="block_comments_form">
                    <h2>Add comment</h2>
                    <form action="">
                    <div class="comment_input active_bg_form">
                        <input type="text" name="" class="s_inp_text" title="Name&lt;span&gt;*&lt;/span&gt;" style="display: none; ">
                    <span>Name<span>*</span></span></div>
                    <div class="comment_input active_bg_form">
                        <input type="text" name="" class="s_inp_text" title="E-mail&lt;span&gt;*&lt;/span&gt;" style="display: none; ">
                    <span>E-mail<span>*</span></span></div>
                    <div class="comment_area active_bg_form">
                        <textarea name="" cols="30" rows="10" class="s_inp_text" title="Your comment" style="display: none; "></textarea>
                    <span>Your comment</span></div>
                    <a href="#" class="button">
                        <span class="left">
                            <span class="right">
                                Submit comment
                            </span>
                        </span>
                    </a>
                    </form>
                </div>
            </div>




            <div class="block_cont_right">
  
                <div class="block_blog_category">
                  	<h4>文章分类</h4>
                    <ul class="list2" id="caregory_panel">
                    </ul>
                </div>
                <div class="block_recent_posts">
                	<h4>Recent Posts</h4>
                    <div class="post">
	                    <div class="img"><a href="#"><img src="images/img_blog3.jpg" alt="" title=""></a></div>
	                    <div class="text">
		                    <p><a href="#">There are many variation of passages of Lorem.</a></p>
		                    <p class="date">October 5, 2011 </p>
	                    </div>
                    </div>
                    <div class="post">
	                    <div class="img"><a href="#"><img src="images/img_blog4.jpg" alt="" title=""></a></div>
	                    <div class="text">
		                    <p><a href="#">But the majority have suffered alteration.</a></p>
		                    <p class="date">September 22, 2011</p>
	                    </div>
                    </div>
                    <div class="post">
	                    <div class="img"><a href="#"><img src="images/img_blog5.jpg" alt="" title=""></a></div>
	                    <div class="text">
		                    <p><a href="#">Alteration in some form, by injected.</a></p>
		                    <p class="date">September 15, 2011</p>
	                    </div>
                    </div>
                    <div class="post">
	                    <div class="img"><a href="#"><img src="images/img_blog6.jpg" alt="" title=""></a></div>
	                    <div class="text">
		                    <p><a href="#">Randomised words which don't look even slightly.</a></p>
		                    <p class="date">September 15, 2011 </p>
	                    </div>
                    </div>
                </div>
                <div class="line"></div>
                <div class="block_last_work">
                	<h4>latest Work</h4>
                    <p>Fact that a reader will be distracted by readable content.</p>
                    <div class="latest_img see_big2">
                    	<div style="background-image: url(http://elephantweb.webglogic.com/images/img_latest.jpg); ">
                    		<a href="images/big_img9.jpg" rel="prettyPhoto[gallery1]" style="display: none; "><img src="images/img_latest.jpg" title="" alt="">
                            	<span class="icon"></span></a>
                        </div>
                    </div>
                    <div class="description">
	                    <h5 class="title">There are many variations</h5>
	                    <p class="alt">Photo of old Venice</p>
                    </div>
                </div>
                <div class="line"></div>
                <div class="block_archives">
                  	<h4>ARCHIVES</h4>
                    <ul class="list2">
                    	<li><a href="#">August 2011</a></li>
                    	<li><a href="#">September 2011</a></li>
                    	<li><a href="#">October 2011</a></li>
                    	<li><a href="#">November 2011</a></li>
                    </ul>
                </div>
            </div>
             <div class="clear"></div>
            <div class="separator_5"></div>
            <div class="line"></div>
            <div class="clear"></div>
  <script>
	$(document).ready(function() {    
		var html_caregory_panel = '';
		html_caregory_panel+='{@each categories as item,index}'+
		'<li><a href="/articles/${item.user_id}/${item.id}">${item.name}</a> ({@if !item.article_count}0{@else}${item.article_count}{@/if})</li>'+
		'{@/each}';
		var tpl_caregory_panel=juicer(html_caregory_panel);

	    $.ajax({//得到用户文章分类
			type: 'POST',
			url: '/userinfo/category/1',
			success:function(data){
			    $('#caregory_panel').html(tpl_caregory_panel.render(data));
			},
		  	error:function(){}
		});
	});
</script>