
        	<div class="page_title">
            	<h1>Blog Post 1</h1>
                <p class="page_description">This is a custom subpage description</p>
                <div class="page_navigation">
                	<ul>
                    	<li><a href="index.html">Elephant Home</a></li>
                        <li class="nav_line">/</li>
                        <li>Blog Post 1</li>
                    </ul>
                </div>
            </div>
            <div class="line"></div>
            <div class="separator"></div>
            <div class="block_cont_left">
            	<div class="block_blog post_type1">
                    <div class="post_pic shadow_img">
                    	<div style="background-image: url(http://elephantweb.webglogic.com/images/img_open_post1.jpg); ">
                        	<a href="images/big_img16.jpg" rel="prettyPhoto[gallery2]"><img src="images/img_open_post1.jpg" alt="" title=""></a>
                        </div>
                    </div>
                    <div class="title">
                    	<div class="date">
                        	<p>Nov <b>22</b></p>
                        </div>
                        <div class="blog_info">
                        	<h3>established fact that a reader.</h3>
                            <ul>
                            	<li><i>posted by</i> <a href="#">Admin</a></li>
                                <li><i>in</i> <a href="#">Web Design</a></li>
                                <li><a href="#comments">5</a> comments</li>
                            </ul>
                        </div>
                    </div>
                    <div class="blog_content">
                    	<p>Established fact that a reader will be distracted by  readable content  of a page when looking at its layout. The point of using Lorem Ipsum is that. Has a more-or-less normal distribution. Of letters, as <b>opposed to using content here</b>, content here. Making it look like readable English. Many desktop publishing packages and web page editors now are many variations.</p>
                        <p>&nbsp;</p>
                        <p class="quote t1_r">Passage of Lorem Ipsum, you need to be sure there anything rassing hidden in the middle of text.</p>
                        <p>You are going to use a passage of Lorem Ipsum, you need to be sure there isn't anything embarrassing hidden in the middle of text. All the Lorem Ipsum generators on the <a href="#" class="main_link">Internet tend to repeat</a> predefined chunks as necessary, making this the first true generator on the Internet. It uses a dictionary of over 200 Latin words, combined with a handful of model sentence structures.</p>
                        <p>&nbsp;</p>
                        <p>Point of using Lorem Ipsum is that. Has a more-or-less normal distribution. Of letters, as opposed to using content here.</p>
                        <p>&nbsp;</p>
                        <div class="img_box t1_l shadow_img">
                        	<div style="background-image: url(http://elephantweb.webglogic.com/images/img_min1.jpg); ">
                        		<a href="images/big_img8.jpg" rel="prettyPhoto[gallery2]"><img src="images/img_min1.jpg" alt="" title=""></a>
                            </div>
                        </div>
                        <p>Distracted by  readable content  of a page when looking at its layout. The point of using Lorem Ipsum is that. Has a <a href="#" class="col_6a6969">more-or-less normal</a> distribution.Of letters, as opposed to using content here, content here. Making it look like readable English. Many desktop publishing packages and web page editors now.</p>
                        <p>&nbsp;</p>
                        <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered <b>alteration in some</b> form, by injected humour, or randomised words which.</p>
                        <p>&nbsp;</p>
                        <p>Has a more-or-less normal distribution. Of letters, as opposed to using content here, content here. Making it look like readable English many desktop publishing packages and web page editors now are many variations.</p>
                        <p>&nbsp;</p>
                        <p class="quote">Assage of Lorem Ipsum, you need to be sure there anything embarrassing hidden in the middle of text. All the Lorem Ipsum generators on the Internet tend to repeat predefined chunks as necessary, making this the. First true generator on the Internet. It uses a dictionary of over 200 Latin words, combined with a handful.</p>
                        <p>&nbsp;</p>
                        <p>More-or-less normal distribution. Of letters, as opposed to using content here, content here. Making it look like readable English many desktop publishing packages and web page editors now are many variations.Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor.</p>
                    </div>
				</div>
                <div class="tags">
                    <p><b>Tags:</b></p><p class="links"><a href="#">keywords</a>, <a href="#">peoples</a>, <a href="#">design</a>, <a href="#">it</a>, <a href="#">way</a></p>
                </div>
                <div class="block_comments" id="comments">
                    <h2>Comments <span>(5)</span></h2>
                    <div class="box_comment">
                        <div class="avatar"><img src="images/user_1.jpg" alt="" title=""></div>
                        <div class="comment">
                            <div class="comment_title">
                                <p class="user"><a href="#">ADMIN</a></p>
                                <p class="date">December 15, 2011 at 12:45 am</p>
                            </div>
                            <div class="comment_body">
                                <p>Рandful of model sentence structures, to generate Lorem Ipsum which looks reasonable. The generated Lorem Ipsum is therefor use Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncove.</p>
                            </div>
                            <div class="reply"><a href="#">Reply</a></div>
                        </div>
                    </div>
                    <div class="box_comment">
                        <div class="avatar"><img src="images/user_2.jpg" alt="" title=""></div>
                        <div class="comment">
                            <div class="comment_title">
                                <p class="user"><a href="#">Roman polyarush</a></p>
                                <p class="date">December 5 2011 at 10:20 am</p>
                            </div>
                            <div class="comment_body">
                                <p>Model sentence structures, to generate Lorem Ipsum which looks reasonable. The generated Lorem Ipsum is therefor use Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncove.</p>
                            </div>
                            <div class="reply"><a href="#">Reply</a></div>
                        </div>
                        <div class="box_comment">
                            <div class="avatar"><img src="images/user_3.jpg" alt="" title=""></div>
                            <div class="comment">
                                <div class="comment_title">
                                    <p class="user"><a href="#">Sara jordan</a></p>
                                    <p class="date">December 5 2011 at 14:20 am</p>
                                </div>
                                <div class="comment_body">
                                    <p>Model sentence structures, to generate Lorem Ipsum which looks reasonable. The generated Lorem Ipsum is therefor use Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncove.</p>
                                </div>
                            </div>
                        </div>
                        <div class="box_comment">
                            <div class="avatar"></div>
                            <div class="comment">
                                <div class="comment_title">
                                    <p class="user"><a href="#">Piter larkin</a></p>
                                    <p class="date">December 5 2011 at 16:24 am</p>
                                </div>
                                <div class="comment_body">
                                    <p>Model sentence structures, to generate Lorem Ipsum which looks reasonable. The generated Lorem Ipsum is therefor use Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncove.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="box_comment">
                        <div class="avatar"><img src="images/user_2.jpg" alt="" title=""></div>
                        <div class="comment">
                            <div class="comment_title">
                                <p class="user"><a href="#">Roman polyarush</a></p>
                                <p class="date">December 5 2011 at 10:20 am</p>
                            </div>
                            <div class="comment_body">
                                <p>Many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable. </p>
                            </div>
                            <div class="reply"><a href="#">Reply</a></div>
                        </div>
                    </div>
                </div>
                <div class="block_comments_form">
                    <h2>Add comment</h2>
                    <form action="">
                    <div class="comment_input active_bg_form">
                        <input type="text" name="" class="s_inp_text" title="Name&lt;span&gt;*&lt;/span&gt;" style="display: none; ">
                    <span>Name<span>*</span></span></div>
                    <div class="comment_input active_bg_form">
                        <input type="text" name="" class="s_inp_text" title="E-mail&lt;span&gt;*&lt;/span&gt;" style="display: none; ">
                    <span>E-mail<span>*</span></span></div>
                    <div class="comment_area active_bg_form">
                        <textarea name="" cols="30" rows="10" class="s_inp_text" title="Your comment" style="display: none; "></textarea>
                    <span>Your comment</span></div>
                    <a href="#" class="button">
                        <span class="left">
                            <span class="right">
                                Submit comment
                            </span>
                        </span>
                    </a>
                    </form>
                </div>
            </div>
            <div class="block_cont_right">
            	<div class="search_block">
                	<form action="">
                	<div class="search_inp">
                    	<input type="text" name="" class="s_inp_text" title="Search" style="display: none; ">
                    <span>Search</span></div>
                    <div class="search_submit">
                    	<input type="submit" value="">
                    </div>
                    </form>
                </div>
                <div class="line"></div>
                <div class="block_blog_category">
                  	<h4>blog Category</h4>
                    <ul class="list2">
                    	<li><a href="#">Web Development</a> (3)</li>
                    	<li><a href="#">Photography</a> (2)</li>
                    	<li><a href="#">Illustration</a> (4)</li>
                    	<li><a href="#">Branding Design</a> (3)</li>
                    </ul>
                </div>
                <div class="block_recent_posts">
                	<h4>Recent Posts</h4>
                    <div class="post">
	                    <div class="img"><a href="#"><img src="images/img_blog3.jpg" alt="" title=""></a></div>
	                    <div class="text">
		                    <p><a href="#">There are many variation of passages of Lorem.</a></p>
		                    <p class="date">October 5, 2011 </p>
	                    </div>
                    </div>
                    <div class="post">
	                    <div class="img"><a href="#"><img src="images/img_blog4.jpg" alt="" title=""></a></div>
	                    <div class="text">
		                    <p><a href="#">But the majority have suffered alteration.</a></p>
		                    <p class="date">September 22, 2011</p>
	                    </div>
                    </div>
                    <div class="post">
	                    <div class="img"><a href="#"><img src="images/img_blog5.jpg" alt="" title=""></a></div>
	                    <div class="text">
		                    <p><a href="#">Alteration in some form, by injected.</a></p>
		                    <p class="date">September 15, 2011</p>
	                    </div>
                    </div>
                    <div class="post">
	                    <div class="img"><a href="#"><img src="images/img_blog6.jpg" alt="" title=""></a></div>
	                    <div class="text">
		                    <p><a href="#">Randomised words which don't look even slightly.</a></p>
		                    <p class="date">September 15, 2011 </p>
	                    </div>
                    </div>
                </div>
                <div class="line"></div>
                <div class="block_last_work">
                	<h4>latest Work</h4>
                    <p>Fact that a reader will be distracted by readable content.</p>
                    <div class="latest_img see_big2">
                    	<div style="background-image: url(http://elephantweb.webglogic.com/images/img_latest.jpg); ">
                    		<a href="images/big_img9.jpg" rel="prettyPhoto[gallery1]" style="display: none; "><img src="images/img_latest.jpg" title="" alt="">
                            	<span class="icon"></span></a>
                        </div>
                    </div>
                    <div class="description">
	                    <h5 class="title">There are many variations</h5>
	                    <p class="alt">Photo of old Venice</p>
                    </div>
                </div>
                <div class="line"></div>
                <div class="block_archives">
                  	<h4>ARCHIVES</h4>
                    <ul class="list2">
                    	<li><a href="#">August 2011</a></li>
                    	<li><a href="#">September 2011</a></li>
                    	<li><a href="#">October 2011</a></li>
                    	<li><a href="#">November 2011</a></li>
                    </ul>
                </div>
            </div>
             <div class="clear"></div>
            <div class="separator_5"></div>
            <div class="line"></div>
            <div class="clear"></div>
  