
        	<div class="page_title">
            	<h1>Blog 3</h1>
                <p class="page_description">This is a custom subpage description</p>
                <div class="page_navigation">
                	<ul>
                    	<li><a href="index.html">Elephant Home</a></li>
                        <li class="nav_line">/</li>
                        <li>Blog 3</li>
                    </ul>
                </div>
            </div>
            <div class="line"></div>
            <div class="separator"></div>
            <div class="block_cont_left">
            	<div class="block_blog_type2">
                    <div class="post_pic shadow_img">
                    	<div style="background-image: url(http://elephantweb.webglogic.com/images/img_prev_min_blog1.jpg); ">
                        	<a href="blog_post3.html"><img src="images/img_prev_min_blog1.jpg" alt="" title=""></a>
                        </div>
                    </div>
                    <div class="block_content">
	                    <div class="title">
	                    	<div class="date">
	                        	<p>Nov <b>22</b></p>
	                        </div>
	                        <div class="blog_info">
	                        	<h3><a href="blog_post3.html">established fact that a reader.</a></h3>
	                            <ul>
	                            	<li><i>posted by</i> <a href="#">Admin</a></li>
	                                <li><i>in</i> <a href="#">Web Design</a></li>
	                                <li><a href="#">7</a> comments</li>
	                            </ul>
	                        </div>
	                    </div>
	                    <div class="blog_content">
	                    	<p>Established fact that a reader will be distracted by  readable content  of a page when looking at its layout. The point of using Lorem Ipsum is that. Has a more-or-less normal distribution. Of letters, as opposed to using content here, content here. Making it look like readable English. Many desktop publishing packages and web page editors now are many variations of passages but the majority have suffered.</p>
							<a href="blog_post3.html" class="button">
	                        	<span class="left">
	                                <span class="right">
	                                    Read more
	                                </span>
	                            </span>
	                        </a>
	                    </div>
                	</div>
                </div>
                <div class="separator_3"></div>
                <div class="line"></div>
                <div class="separator_4"></div>
                <div class="block_blog_type2">
                    <div class="post_pic shadow_img">
                    	<div style="background-image: url(http://elephantweb.webglogic.com/images/img_prev_min_blog2.jpg); ">
                        	<a href="blog_post3.html"><img src="images/img_prev_min_blog2.jpg" alt="" title=""></a>
                        </div>
                    </div>
                    <div class="block_content">
	                    <div class="title">
	                    	<div class="date">
	                        	<p>Nov <b>22</b></p>
	                        </div>
	                        <div class="blog_info">
	                        	<h3><a href="blog_post3.html">There are many variations of passages.</a></h3>
	                            <ul>
	                            	<li><i>posted by</i> <a href="#">Admin</a></li>
	                                <li><i>in</i> <a href="#">Web Design</a></li>
	                                <li><a href="#">7</a> comments</li>
	                            </ul>
	                        </div>
	                    </div>
	                    <div class="blog_content">
	                    	<p>Established fact that a reader will be distracted by  readable content  of a page when looking at its layout. The point of using Lorem Ipsum is that. Has a more-or-less normal distribution. Of letters, as opposed to using content here, content here. Making it look like readable English. Many desktop publishing packages and web page editors now are many variations of passages but the majority have suffered.</p>
							<a href="blog_post3.html" class="button">
	                        	<span class="left">
	                                <span class="right">
	                                    Read more
	                                </span>
	                            </span>
	                        </a>
	                    </div>
                	</div>
                </div>
                <div class="separator_3"></div>
                <div class="line"></div>
                <div class="separator_4"></div>
                <div class="block_blog_type2">
                    <div class="post_pic shadow_img">
                    	<div style="background-image: url(http://elephantweb.webglogic.com/images/img_prev_min_blog3.jpg); ">
                        	<a href="blog_post3.html"><img src="images/img_prev_min_blog3.jpg" alt="" title=""></a>
                        </div>
                    </div>
                    <div class="block_content">
	                    <div class="title">
	                    	<div class="date">
	                        	<p>Nov <b>22</b></p>
	                        </div>
	                        <div class="blog_info">
	                        	<h3><a href="blog_post3.html">printing and typesetting.</a></h3>
	                            <ul>
	                            	<li><i>posted by</i> <a href="#">Admin</a></li>
	                                <li><i>in</i> <a href="#">Web Design</a></li>
	                                <li><a href="#">7</a> comments</li>
	                            </ul>
	                        </div>
	                    </div>
	                    <div class="blog_content">
	                    	<p>Established fact that a reader will be distracted by  readable content  of a page when looking at its layout. The point of using Lorem Ipsum is that. Has a more-or-less normal distribution. Of letters, as opposed to using content here, content here. Making it look like readable English. Many desktop publishing packages and web page editors now are many variations of passages but the majority have suffered.</p>
							<a href="blog_post3.html" class="button">
	                        	<span class="left">
	                                <span class="right">
	                                    Read more
	                                </span>
	                            </span>
	                        </a>
	                    </div>
                	</div>
                </div>
                <div class="separator_3"></div>
                <div class="line"></div>
                <div class="separator_4"></div>
                <div class="block_blog_type2">
                    <div class="post_pic shadow_img">
                    	<div style="background-image: url(http://elephantweb.webglogic.com/images/img_prev_min_blog4.jpg); ">
                        	<a href="blog_post3.html"><img src="images/img_prev_min_blog4.jpg" alt="" title=""></a>
                        </div>
                    </div>
                    <div class="block_content">
	                    <div class="title">
	                    	<div class="date">
	                        	<p>Nov <b>22</b></p>
	                        </div>
	                        <div class="blog_info">
	                        	<h3><a href="blog_post3.html">readable content of a page when.</a></h3>
	                            <ul>
	                            	<li><i>posted by</i> <a href="#">Admin</a></li>
	                                <li><i>in</i> <a href="#">Web Design</a></li>
	                                <li><a href="#">7</a> comments</li>
	                            </ul>
	                        </div>
	                    </div>
	                    <div class="blog_content">
	                    	<p>Established fact that a reader will be distracted by  readable content  of a page when looking at its layout. The point of using Lorem Ipsum is that. Has a more-or-less normal distribution. Of letters, as opposed to using content here, content here. Making it look like readable English. Many desktop publishing packages and web page editors now are many variations of passages but the majority have suffered.</p>
							<a href="blog_post3.html" class="button">
	                        	<span class="left">
	                                <span class="right">
	                                    Read more
	                                </span>
	                            </span>
	                        </a>
	                    </div>
                	</div>
                </div>
                <div class="separator_3"></div>
                <div class="line"></div>
                <div class="separator_4"></div>
                <div class="block_blog_type2">
                    <div class="post_pic shadow_img">
                    	<div style="background-image: url(http://elephantweb.webglogic.com/images/img_prev_min_blog5.jpg); ">
                        	<a href="blog_post3.html"><img src="images/img_prev_min_blog5.jpg" alt="" title=""></a>
                        </div>
                    </div>
                    <div class="block_content">
	                    <div class="title">
	                    	<div class="date">
	                        	<p>Nov <b>22</b></p>
	                        </div>
	                        <div class="blog_info">
	                        	<h3><a href="blog_post3.html">dummy text of the printing.</a></h3>
	                            <ul>
	                            	<li><i>posted by</i> <a href="#">Admin</a></li>
	                                <li><i>in</i> <a href="#">Web Design</a></li>
	                                <li><a href="#">7</a> comments</li>
	                            </ul>
	                        </div>
	                    </div>
	                    <div class="blog_content">
	                    	<p>Established fact that a reader will be distracted by  readable content  of a page when looking at its layout. The point of using Lorem Ipsum is that. Has a more-or-less normal distribution. Of letters, as opposed to using content here, content here. Making it look like readable English. Many desktop publishing packages and web page editors now are many variations of passages but the majority have suffered.</p>
							<a href="blog_post3.html" class="button">
	                        	<span class="left">
	                                <span class="right">
	                                    Read more
	                                </span>
	                            </span>
	                        </a>
	                    </div>
                	</div>
                </div>
                <div class="separator_4"></div>
                <div class="line"></div>
                <div class="block_blogs_nav">
                	<a href="#" class="prev">Older posts</a>
                    <a href="#" class="next">Newer posts</a>
                </div>
                <div class="line"></div>
            </div>
            <div class="block_cont_right">
            	<div class="search_block">
                	<form action="">
                	<div class="search_inp">
                    	<input type="text" name="" class="s_inp_text" title="Search" style="display: none; ">
                    <span>Search</span></div>
                    <div class="search_submit">
                    	<input type="submit" value="">
                    </div>
                    </form>
                </div>
                <div class="line"></div>
                <div class="block_blog_category">
                  	<h4>blog Category</h4>
                    <ul class="list2">
                    	<li><a href="#">Web Development</a> (3)</li>
                    	<li><a href="#">Photography</a> (2)</li>
                    	<li><a href="#">Illustration</a> (4)</li>
                    	<li><a href="#">Branding Design</a> (3)</li>
                    </ul>
                </div>
                <div class="block_recent_posts">
                	<h4>Recent Posts</h4>
                    <div class="post">
	                    <div class="img"><a href="#"><img src="images/img_blog3.jpg" alt="" title=""></a></div>
	                    <div class="text">
		                    <p><a href="#">There are many variation of passages of Lorem.</a></p>
		                    <p class="date">October 5, 2011 </p>
	                    </div>
                    </div>
                    <div class="post">
	                    <div class="img"><a href="#"><img src="images/img_blog4.jpg" alt="" title=""></a></div>
	                    <div class="text">
		                    <p><a href="#">But the majority have suffered alteration.</a></p>
		                    <p class="date">September 22, 2011</p>
	                    </div>
                    </div>
                    <div class="post">
	                    <div class="img"><a href="#"><img src="images/img_blog5.jpg" alt="" title=""></a></div>
	                    <div class="text">
		                    <p><a href="#">Alteration in some form, by injected.</a></p>
		                    <p class="date">September 15, 2011</p>
	                    </div>
                    </div>
                    <div class="post">
	                    <div class="img"><a href="#"><img src="images/img_blog6.jpg" alt="" title=""></a></div>
	                    <div class="text">
		                    <p><a href="#">Randomised words which don't look even slightly.</a></p>
		                    <p class="date">September 15, 2011 </p>
	                    </div>
                    </div>
                </div>
                <div class="line"></div>
                <div class="block_last_work">
                	<h4>latest Work</h4>
                    <p>Fact that a reader will be distracted by readable content.</p>
                    <div class="latest_img see_big2">
                    	<div style="background-image: url(http://elephantweb.webglogic.com/images/img_latest.jpg); ">
                    		<a href="images/big_img9.jpg" rel="prettyPhoto[gallery1]" style="display: none; "><img src="images/img_latest.jpg" title="" alt="">
                            	<span class="icon"></span></a>
                        </div>
                    </div>
                    <div class="description">
	                    <h5 class="title">There are many variations</h5>
	                    <p class="alt">Photo of old Venice</p>
                    </div>
                </div>
                <div class="line"></div>
                <div class="block_archives">
                  	<h4>ARCHIVES</h4>
                    <ul class="list2">
                    	<li><a href="#">August 2011</a></li>
                    	<li><a href="#">September 2011</a></li>
                    	<li><a href="#">October 2011</a></li>
                    	<li><a href="#">November 2011</a></li>
                    </ul>
                </div>
            </div>
            <div class="clear"></div>
               <div class="separator_5"></div>
            <div class="line"></div>
