
        	<div class="page_title">
            	<h1>Portfolio 1</h1>
                <p class="page_description">This is a custom subpage description</p>
                <div class="page_navigation">
                	<ul>
                    	<li><a href="index.html">Elephant Home</a></li>
                        <li class="nav_line">/</li>
                        <li>Portfolio 1</li>
                    </ul>
                </div>
            </div>
            <div class="line"></div>
            <div class="block_filter">
            	<p>Filter:</p>
                <ul>
                	<li class="first"><a href="#" class="active" title="all">All Categories</a></li>
                    <li><a href="#" title="webdesign">Web Design</a></li>
                    <li><a href="#" title="icon">Icons</a></li>
                    <li><a href="#" title="illustrations">Illustrations</a></li>
                    <li class="last"><a href="#" title="video">Video</a></li>
                </ul>
            </div>
            <div class="block_portfolio_c2 filter_conteiner">
            	<div class="img_box filter_box see_big2" title="webdesign" data-id="item0">
                	<div style="background-image: url(http://elephantweb.webglogic.com/images/img_p1_c2.jpg); ">
                    	<a href="images/big_img3.jpg" rel="prettyPhoto[gallery1]"><img src="images/img_p1_c2.jpg" alt="" title="">
                        <span class="description" style="padding-bottom: 12px; ">
                        	<span class="title">Work Title Goes Here</span>
                            <span class="big_mark"></span>
                        </span>
                        </a>
                    </div>
                </div>
                <div class="img_box filter_box see_big2" title="video" data-id="item1">
                	<div style="background-image: url(http://elephantweb.webglogic.com/images/img_p2_c2.jpg); ">
                    	<a href="http://www.youtube.com/watch?feature=player_embedded&amp;v=08DMQ0SV6tM" rel="prettyPhoto[gallery1]"><img src="images/img_p2_c2.jpg" alt="" title="">
                        <span class="description" style="padding-bottom: 12px; ">
                        	<span class="title">Work Title Goes Here</span>
                            <span class="big_mark"></span>
                        </span>
                        </a>
                    </div>
                </div>
                <div class="img_box filter_box see_big2" title="webdesign" data-id="item2">
                	<div style="background-image: url(http://elephantweb.webglogic.com/images/img_p3_c2.jpg); ">
                    	<a href="images/big_img24.jpg" rel="prettyPhoto[gallery1]"><img src="images/img_p3_c2.jpg" alt="" title="">
                        <span class="description">
                        	<span class="title">Work Title Goes Here</span>
                            <span class="big_mark"></span>
                        </span>
                        </a>
                    </div>
                </div>
                <div class="img_box filter_box see_big2" title="illustrations" data-id="item3">
                	<div style="background-image: url(http://elephantweb.webglogic.com/images/img_p4_c2.jpg); ">
                    	<a href="images/big_img16.jpg" rel="prettyPhoto[gallery1]"><img src="images/img_p4_c2.jpg" alt="" title="">
                        <span class="description" style="padding-bottom: 12px; ">
                        	<span class="title">Work Title Goes Here</span>
                            <span class="big_mark"></span>
                        </span>
                        </a>
                    </div>
                </div>
                <div class="img_box filter_box see_big2" title="icon" data-id="item4">
                	<div style="background-image: url(http://elephantweb.webglogic.com/images/img_p5_c2.jpg); ">
                    	<a href="images/big_img1.jpg" rel="prettyPhoto[gallery1]"><img src="images/img_p5_c2.jpg" alt="" title="">
                        <span class="description">
                        	<span class="title">Work Title Goes Here</span>
                            <span class="big_mark"></span>
                        </span>
                        </a>
                    </div>
                </div>
                <div class="img_box filter_box see_big2" title="icon" data-id="item5">
                	<div style="background-image: url(http://elephantweb.webglogic.com/images/img_p6_c2.jpg); ">
                    	<a href="images/big_img21.jpg" rel="prettyPhoto[gallery1]"><img src="images/img_p6_c2.jpg" alt="" title="">
                        <span class="description" style="padding-bottom: 12px; ">
                        	<span class="title">Work Title Goes Here</span>
                            <span class="big_mark"></span>
                        </span>
                        </a>
                    </div>
                </div>
                <div class="img_box filter_box see_big2" title="illustrations" data-id="item6">
                	<div style="background-image: url(http://elephantweb.webglogic.com/images/img_p7_c2.jpg); ">
                    	<a href="images/big_img6.jpg" rel="prettyPhoto[gallery1]"><img src="images/img_p7_c2.jpg" alt="" title="">
                        <span class="description">
                        	<span class="title">Work Title Goes Here</span>
                            <span class="big_mark"></span>
                        </span>
                        </a>
                    </div>
                </div>
                <div class="img_box filter_box see_big2" title="illustrations" data-id="item7">
                	<div style="background-image: url(http://elephantweb.webglogic.com/images/img_p8_c2.jpg); ">
                    	<a href="images/big_img14.jpg" rel="prettyPhoto[gallery1]"><img src="images/img_p8_c2.jpg" alt="" title="">
                        <span class="description">
                        	<span class="title">Work Title Goes Here</span>
                            <span class="big_mark"></span>
                        </span>
                        </a>
                    </div>
                </div>
                <div class="clear"></div>
            </div>
            <div class="clear"></div>

		