


<div class="img_box filter_box see_big2" title="webdesign" data-id="item0">
  	<div class="pic">
      	<a class="imgbox"  href="<%= category2.category_img %>" rel="prettyPhoto[gallery1]"><img  src="<%= category2.category_img %>" alt="<%= category2.name %>" title="<%= category2.name %>"></a>
         <a href="/productsOfCategory2Front?user_id=1&category_id=<%=category.id %>&category2_id=<%=category2.id%>"> <span class="description" style="padding-bottom: 12px; ">
          	<span class="title"><b><%= category2.name %></b></span>
              <span class="big_mark"></span>
          </span>
          </a>
      </div>
  </div>
          

  