        		<div class="page_title">
            	<h1>产品详情</h1>
                <p class="page_description">Product Details</p>
                <div class="page_navigation">
                	<ul>
                    	<li><a href="/product">主页</a></li>
                        <li class="nav_line">/</li>
						<li><%for(var cli=0;cli < article_categories.length;cli++){%>
							<a href="/productsincategory?user_id=1&category_id=<%=article_categories[cli].id%>"><%=article_categories[cli].name%></a>  
						<%}%></li>
						<li class="nav_line">/</li>
                        <li><a href="#2"><%= article.title.substring(0,12)%></a></li>
                    </ul>
                </div>
            </div>
            <div class="line"></div>
            <div class="separator"></div>
            <div class="block_cont_left">
            	<div class="block_blog post_type1">

                    <div class="title">
						<div class="date" style="width:55px;height:55px">
	                    		<div class="calendar"> 
									<div class="calendar-month"><%=article.create_at.substring(5,7)%></div> 
									<div class="calendar-day"><%=article.create_at.substring(8,10)%></div> 
								</div>
	                     </div>
                        <div class="blog_info">
                        	<h3><%= article.title %></h3>
                            <ul>
                            	<li><i>作者：</i> <a href="#"><%= author.loginname %></a></li>
								<li><a href="#"><%=article.visit_count%></a>&nbsp; 次点击</li>
                                <li><a href="#comments"><%=article.reply_count%></a> 次回复</li>
                            </ul>
                        </div>
                    </div>
                    <div class="blog_content">
						<%- article.content %>
                    </div>
				</div>
                <div class="tags">
                    <p><b>分类:</b></p>
					<p class="links">
 					<%for(var cli=0;cli < article_categories.length;cli++){%>
						<% if(cli == 0){%>
							<a href="#2"><%=article_categories[cli].name%></a>  
						<%}else{%>
							,<a href="#2"><%=article_categories[cli].name%></a>  
						<%}%>
					<%}%>
						</p>
                </div>
                 <div class="tags" style="margin-top:10px">
                    <p><b>标签:</b></p>
					<p class="links">
							<%=article.tag%> 
						</p>
                </div>
                <div class="block_comments" id="comments">
<!-- 回复列表 -->	
	<% if (article.replies && article.replies.length > 0) { %>
 		<h2>回复 <span>(<%= article.replies.length %>)</span></h2>

		<%- partial('frontend/product/reply',article.replies) %>
	<% } %>
                   
                <div class="block_comments_form" id="reply_editor_panel">
                    <h2>添加回复</h2>
                    <form  id='reply_form' action='/sendProductMsg?product_id=<%= article.id %>' method='post'>
					
                    <div class="comment_input active_bg_form">
                        <input type="text" name="u_name" class="s_inp_text" title="Name&lt;span&gt;*&lt;/span&gt;" style="display: none; ">
                    <span>昵称<span>*</span></span></div>
                    <div class="comment_input active_bg_form">
                        <input type="text" name="u_mail" class="s_inp_text" title="E-mail&lt;span&gt;*&lt;/span&gt;" style="display: none; ">
                    <span>邮箱<span>*</span></span></div>
                    <input type='hidden' name='_csrf' value='<%= csrf %>' />
                    <div class="comment_area active_bg_form">
                        <textarea name="u_comment" id="editor" cols="30" rows="10" class="s_inp_text" title="Your comment" style="display: none; "></textarea>
                    <span>你的内容</span></div>
                    <a href="#2" class="button" id="J_SumitReply">
                        <span class="left">
                            <span class="right">
                              		回复
                            </span>
                        </span>
                    </a>
                    </form>
                </div>
            </div>
 	</div>
            <div class="block_cont_right">
             <div class="block_blog_category"> 
	                  	<h4>产品分类</h4> 
	                    <ul class="list2" id="product_caregory_panel" >
					<% if(categories && categories.length > 0){
	               
	               		for(var i =0,len = categories.length ; i< len ; i++){
					%>
   						<li><a href="/productsincategory?user_id=1&category_id=<%= categories[i].id %>"><b><%= categories[i].name %></b>&nbsp;&nbsp;</a> </li>
   					 <% }	%>
					<%}else{%>
					 <div class="post">
						<p class='col_fade' style="margin:20px;">暂无分类</p>
					 </div>
					<%}%>

						</ul> 
	                </div>

                <div class="block_recent_posts">
                	<h4>最新新闻</h4>
                	
                	  <% if(new_articles && new_articles.length > 0){
	               
	               		for(var i =0,len = new_articles.length ; i< len ; i++){
					%>
   							<div class="post">
			                <div class="img"><a href="/newsdetail?article_id=<%=new_articles[i].id%>"><img style="width: 52px;"  src="<%=new_articles[i].thumbnails%>" alt="" title=""></a></div>
			                <div class="text">
			                 <p><a href="/newsdetail?article_id=<%=new_articles[i].id%>"><%=new_articles[i].title%></a></p>
			                 <p class="date"><%=new_articles[i].create_at%></p>
			                </div>
			               </div>
   					 <% }	%>
					<%}else{%>
					 <div class="post">
						<p class='col_fade' style="margin:20px;">暂无新闻</p>
					 </div>
					<%}%>
                </div>
                <div class="line"></div>
                <div class="block_blog_category">
                  	<h4>联系我们</h4>
                    <ul class="list2">
                    	<li><a href="#2"><b>Phone:</b> <%= locals.company_info.phone %></a> </li>
                    	<li><a href="#2"><b>Fax:</b> <%= locals.company_info.tel %></a></li>
                    	<li><a href="#2"><b>Email:</b> <a href="mailto:info@elephantweb.com" class="main_link"><%= locals.company_info.email %></a></li>
                    	<li style="height: 60px;"><a href="#2"><b>Our adress:</b>  <%= locals.company_info.address %></a></li>
                    </ul>
                </div>
                 <div class="line"></div>
            </div>
             <div class="clear"></div>
            <div class="separator_5"></div>
            <div class="line"></div>
            <div class="clear"></div>
  <script>
	$(document).ready(function() {    
	
		
		  $("#J_SumitReply").click(function(event){
			    event.preventDefault();
			    document.getElementById('reply_form').submit();
			    }
		   )
	});
</script>
