


<div class="img_box filter_box see_big2" title="webdesign" data-id="item0">
  	<div class="pic">
      	<a  class="imgbox" href="<%= article.goods_img %>" rel="prettyPhoto[gallery1]"><img  src="<%= article.goods_img %>" alt="<%= article.title %>" title="<%= article.title %>></a>
         <a href="/productdetail?product_id=<%=article.id%>"> <span class="description" style="padding-bottom: 12px; ">
          	<span class="title"><b><%= article.title %></b></span>
              <span class="big_mark"></span>
          </span>
          </a>
      </div>
  </div>
          

  