


<div class="img_box filter_box see_big2" title="webdesign" data-id="item0">
  	<div style="background-image: url(<%= article.goods_img %>); ">
      	<a href="<%= article.goods_img %>" rel="prettyPhoto[gallery1]"><img src="<%= article.goods_img %>" alt="" title=""></a>
         <a href="/productdetail?product_id=<%=article.id%>"> <span class="description" style="padding-bottom: 12px; ">
          	<span class="title"><%= article.title %></span>
              <span class="big_mark"></span>
          </span>
          </a>
          
      </div>
  </div>
            