


<div class="img_box filter_box see_big2" title="webdesign" data-id="item0">
  	<div class="pic">
      	<a href="<%= article.goods_img %>" rel="prettyPhoto[gallery1]"><img style="width: 204px;display: block;filter: progid:DXImageTransform.Microsoft.Alpha(opacity=100);-moz-opacity: 1;-khtml-opacity: 1;opacity:1;" src="<%= article.goods_img %>" alt="" title=""></a>
         <a href="/productdetail?product_id=<%=article.id%>"> <span class="description" style="padding-bottom: 12px; ">
          	<span class="title"><%= article.title %></span>
              <span class="big_mark"></span>
          </span>
          </a>
      </div>
  </div>
          

  