 					<div class="box_comment" id='reply<%= indexInCollection+1 %>' reply_id='<%= reply.id %>' >
                        <div class="avatar">
<% if(reply.author.avatar){ %>
	<img width ="48px" src='<%= reply.author.avatar %>' title='<%= reply.author.loginname %>' />
	<% }else{ %>
	<img width ="48px" src='/img/avatar.png' title='<%= reply.author.loginname %>' />
	<% } %>
						</div>
                        <div class="comment">
                            <div class="comment_title">
                                <p class="user">#<%= indexInCollection+1 %> <%= reply.author.loginname %></p>
                                <p class="date"><%= reply.friendly_create_at %></p>
                            </div>
                            <div class="comment_body">
								<%- reply.content %>
                            </div>
                        </div>
                        
                        
					<% if(reply.replies && reply.replies.length > 0){
	               		for(var i =0,len = reply.replies.length ; i< len ; i++){
					%>
					
					 		<div class="box_comment">
					 		 <div class="avatar">
							 <% if(reply.replies[i].author.avatar){ %>
							<img width ="48px" src='<%= reply.replies[i].author.avatar %>' title='<%= reply.replies[i].author.loginname %>' />
							<% }else{ %>
							<img width ="48px" src='/img/avatar.png' title='<%= reply.replies[i].author.loginname %>' />
							<% } %>
							</div>
                            <div class="comment">
                                <div class="comment_title">
                                    <p class="user"><a href="#"><%= reply.replies[i].author.loginname %></a></p>
                                    <p class="date"><%= reply.replies[i].friendly_create_at %></p>
                                </div>
                                <div class="comment_body">
                                	<%- reply.replies[i].content %>
                                </div>
                            </div>
                        </div>
			   			 <% }	%>
					<%}%>
                    </div>
                   

