<div id="footer">
    	<div class="inner">
    		<div class="line"></div>
            <div class="block_footer">
            	<div id="logo_footer">
	            	<a href="index.html"><img src="images/logo_f.jpg" alt="ElephantWeb" title="ElephantWeb"></a>
	            </div>
                <div class="block_copyrights">
                	<p>The ElephantWeb, Los Angeles</p>
					<p>tel: (489) 450-7821 email: info@elephant.com</p>
                </div>
                <div class="block_social_footer">
                    <p>Follow us:</p>
                    <a href="#" class="facebook">Facebook</a>
                    <a href="#" class="twitter">Twitter</a>
                    <a href="#" class="rss">Rss</a>
                </div>
            </div>
       	</div>
    </div>