	<div id="header">
    	<div class="inner">
			<div class="block_top_navigation">
	        	<div class="col_1">
	            	<p>Call us now: (489) 450-7821</p>
	            </div>
	        	<div class="col_2">
	            	<div class="block_social_top">
                    	<p>Follow us:</p>
	                	<a href="#" class="facebook">Facebook</a>
                        <a href="#" class="twitter">Twitter</a>
                        <a href="#" class="rss">Rss</a>
	                </div>
	            </div>
            </div>
            <div class="line"></div>
            <div class="block_mid">
	            <div id="logo">
	            	<a href="/signin"><img src="images/logo.jpg" alt="ElephantWeb" title="ElephantWeb" data-pinit="registered"></a>
	            </div>
                <div id="menu">
                	<ul>
	                	<li><a href="/"  <% if(locals.active == 'index'){ %> class="active" <% } %> >首页<span>start here</span></a></li>
	                	<li><a href="/about" <% if(locals.active == 'about'){ %> class="active" <% } %> >关于我们<span>our company</span></a></li>
	                	<li><a href="/product" <% if(locals.active == 'product'){ %> class="active" <% } %> >产品<span>videos &amp; images</span></a>
                        	<ul style="display: none;" id="caregory_panel">
                            
                            </ul>
                        </li>
	                	<li><a href="/news" <% if(locals.active == 'news'){ %> class="active" <% }  %> >新闻&文档<span>daily posts</span></a></li>
                        <li><a href="/cases" <% if(locals.active == 'cases'){ %> class="active" <% } %>>人才招聘<span>Recruitment</span></a></li>
	                	<li><a href="/contact" <% if(locals.active == 'contact'){ %> class="active" <%  } %> >联系我们<span>get in touch</span></a></li>
                    </ul>
                </div>
            </div>
            <div class="line"></div>
        </div>
	</div>


