        	<div class="page_title">
            	<h1>Blog Post 1</h1>
                <p class="page_description">This is a custom subpage description</p>
                <div class="page_navigation">
                	<ul>
                    	<li><a href="index.html">Elephant Home</a></li>
                        <li class="nav_line">/</li>
                        <li>Blog Post 1</li>
                    </ul>
                </div>
            </div>
            <div class="line"></div>
            <div class="separator"></div>
            <div class="block_cont_left">
            	<div class="block_blog post_type1">

                    <div class="title">
						<div class="date" style="width:55px;height:55px">
	                    		<div class="calendar"> 
									<div class="calendar-month"><%=article.create_at.substring(5,7)%></div> 
									<div class="calendar-day"><%=article.create_at.substring(8,10)%></div> 
								</div>
	                     </div>
                        <div class="blog_info">
                        	<h3><%= article.title %></h3>
                            <ul>
                            	<li><i>作者：</i> <a href="#"><%= author.loginname %></a></li>
								<li><a href="#"><%=article.visit_count%></a>&nbsp; 次点击</li>
                                <li><a href="#comments"><%=article.reply_count%></a> 次回复</li>
                            </ul>
                        </div>
                    </div>
                    <div class="blog_content">
						<%- article.content %>
                    </div>
				</div>
                <div class="tags">
                    <p><b>Tags:</b></p>
					<p class="links">
 					<%for(var cli=0;cli < article_categories.length;cli++){%>
						<% if(cli == 0){%>
							<a href="/articles/<%=article.author_id%>/<%=article_categories[cli].id%>"><%=article_categories[cli].name%></a>  
						<%}else{%>
							,<a href="/articles/<%=article.author_id%>/<%=article_categories[cli].id%>"><%=article_categories[cli].name%></a>  
						<%}%>
					<%}%>
						</p>
                </div>
                <div class="block_comments" id="comments">
<!-- 回复列表 -->	
	<% if (article.replies && article.replies.length > 0) { %>
 		<h2>回复 <span>(<%= article.replies.length %>)</span></h2>

		<%- partial('front/news/reply',article.replies) %>
	<% } %>
                   
                <div class="block_comments_form" id="reply_editor_panel">
                    <h2>Add comment</h2>
                    <form action="">
                    <div class="comment_input active_bg_form">
                        <input type="text" name="" class="s_inp_text" title="Name&lt;span&gt;*&lt;/span&gt;" style="display: none; ">
                    <span>Name<span>*</span></span></div>
                    <div class="comment_input active_bg_form">
                        <input type="text" name="" class="s_inp_text" title="E-mail&lt;span&gt;*&lt;/span&gt;" style="display: none; ">
                    <span>E-mail<span>*</span></span></div>
                    <div class="comment_area active_bg_form">
                        <textarea name="" cols="30" rows="10" class="s_inp_text" title="Your comment" style="display: none; "></textarea>
                    <span>Your comment</span></div>
                    <a href="#" class="button">
                        <span class="left">
                            <span class="right">
                                Submit comment
                            </span>
                        </span>
                    </a>
                    </form>
                </div>
            </div>




            <div class="block_cont_right">
  
                <div class="block_blog_category">
                  	<h4>文章分类</h4>
                    <ul class="list2" id="caregory_panel">
                    </ul>
                </div>
				<div class="line"></div>
                <div class="block_archives">
                  	<h4>文档分类</h4>
                    <ul class="list2" id="folder_panel">
                    	
                    </ul>
                </div>
                <div class="block_recent_posts">
                	<h4>Recent Posts</h4>
                    <div class="post">
	                    <div class="img"><a href="#"><img src="images/img_blog3.jpg" alt="" title=""></a></div>
	                    <div class="text">
		                    <p><a href="#">There are many variation of passages of Lorem.</a></p>
		                    <p class="date">October 5, 2011 </p>
	                    </div>
                    </div>
                    <div class="post">
	                    <div class="img"><a href="#"><img src="images/img_blog4.jpg" alt="" title=""></a></div>
	                    <div class="text">
		                    <p><a href="#">But the majority have suffered alteration.</a></p>
		                    <p class="date">September 22, 2011</p>
	                    </div>
                    </div>
                    <div class="post">
	                    <div class="img"><a href="#"><img src="images/img_blog5.jpg" alt="" title=""></a></div>
	                    <div class="text">
		                    <p><a href="#">Alteration in some form, by injected.</a></p>
		                    <p class="date">September 15, 2011</p>
	                    </div>
                    </div>
                    <div class="post">
	                    <div class="img"><a href="#"><img src="images/img_blog6.jpg" alt="" title=""></a></div>
	                    <div class="text">
		                    <p><a href="#">Randomised words which don't look even slightly.</a></p>
		                    <p class="date">September 15, 2011 </p>
	                    </div>
                    </div>
                </div>
                <div class="line"></div>
                <div class="block_last_work">
                	<h4>latest Work</h4>
                    <p>Fact that a reader will be distracted by readable content.</p>
                    <div class="latest_img see_big2">
                    	<div style="background-image: url(http://elephantweb.webglogic.com/images/img_latest.jpg); ">
                    		<a href="images/big_img9.jpg" rel="prettyPhoto[gallery1]" style="display: none; "><img src="images/img_latest.jpg" title="" alt="">
                            	<span class="icon"></span></a>
                        </div>
                    </div>
                    <div class="description">
	                    <h5 class="title">There are many variations</h5>
	                    <p class="alt">Photo of old Venice</p>
                    </div>
                </div>
                
            </div>
             <div class="clear"></div>
            <div class="separator_5"></div>
            <div class="line"></div>
            <div class="clear"></div>
  <script>
	$(document).ready(function() {    
		var html_caregory_panel = '';
		html_caregory_panel+='{@each categories as item,index}'+
		'<li><a href="/newsincategory?user_id=${item.user_id}&category_id=${item.id}">${item.name}</a> ({@if !item.article_count}0{@else}${item.article_count}{@/if})</li>'+
		'{@/each}';
		var tpl_caregory_panel=juicer(html_caregory_panel);

	    $.ajax({//得到用户文章分类
			type: 'POST',
			url: '/userinfo/category/1',
			success:function(data){
			    $('#caregory_panel').html(tpl_caregory_panel.render(data));
			},
		  	error:function(){}
		});

		var html_folder_panel = '';
		html_folder_panel+='{@each folders as item,index}'+
		'<li><a href="/${item.id}/files">${item.name}&nbsp;&nbsp;({@if !item.file_count}0{@else}${item.file_count}{@/if})</a></li>'+
		'{@/each}';
		var tpl_folder_panel=juicer(html_folder_panel);
	    $.ajax({//得到用户网盘文件夹
			type: "POST",
			url: "/userinfo/folder/1",
			success:function(data){
			    $('#folder_panel').html(tpl_folder_panel.render(data));
			},
		  	error:function(){}
		});
	});
</script>