        	<div class="page_title">
            	<h1>新闻详情</h1>
                <p class="page_description">News Details</p>
                <div class="page_navigation">
                	<ul>
                    	<li><a href="/news">主页</a></li>
                        <li class="nav_line">/</li>
                        <li>新闻详情</li>
                    </ul>
                </div>
            </div>
            <div class="line"></div>
            <div class="separator"></div>
            <div class="block_cont_left">
            	<div class="block_blog post_type1">

                    <div class="title">
						<div class="date" style="width:55px;height:55px">
	                    		<div class="calendar"> 
									<div class="calendar-month"><%=article.create_at.substring(5,7)%></div> 
									<div class="calendar-day"><%=article.create_at.substring(8,10)%></div> 
								</div>
	                     </div>
                        <div class="blog_info">
                        	<h3><%= article.title %></h3>
                            <ul>
                            	<li><i>作者：</i> <a href="#"><%= author.loginname %></a></li>
								<li><a href="#"><%=article.visit_count%></a>&nbsp; 次点击</li>
                                <li><a href="#comments"><%=article.reply_count%></a> 次回复</li>
                            </ul>
                        </div>
                    </div>
                    <div class="blog_content">
						<%- article.content %>
                    </div>
				</div>
                <div class="tags" >
                    <p><b>分类:</b></p>
					<p class="links">
 					<%for(var cli=0;cli < article_categories.length;cli++){%>
						<% if(cli == 0){%>
							<a href="/newsincategory?user_id=1&category_id=<%=article_categories[cli].id%>"><%=article_categories[cli].name%></a>  
						<%}else{%>
							,<a href="/newsincategory?user_id=1&category_id=<%=article_categories[cli].id%>"><%=article_categories[cli].name%></a>  
						<%}%>
					<%}%>
						</p>
                </div>
                <div class="tags" style="margin-top:10px">
                    <p><b>标签:</b></p>
					<p class="links">
							<%=article.tag%> 
						</p>
                </div>
                <div class="block_comments" id="comments">
				<!-- 回复列表 -->	
				<% if (article.replies && article.replies.length > 0) { %>
			 		<h2>回复 <span>(<%= article.replies.length %>)</span></h2>
			
					<%- partial('frontend/news/reply',article.replies) %>
				<% } %>
                   
                <div class="block_comments_form" id="reply_editor_panel">
                    <h2>添加回复</h2>
                    <form  id='reply_form' action='/sendMsg?article_id=<%= article.id %>' method='post'>
					
                    <div class="comment_input active_bg_form">
                        <input type="text" name="u_name" class="s_inp_text" title="Name&lt;span&gt;*&lt;/span&gt;" style="display: none; ">
                    <span>昵称<span>*</span></span></div>
                    <div class="comment_input active_bg_form">
                        <input type="text" name="u_mail" class="s_inp_text" title="E-mail&lt;span&gt;*&lt;/span&gt;" style="display: none; ">
                    <span>邮箱<span>*</span></span></div>
                    <input type='hidden' name='_csrf' value='<%= csrf %>' />
                    <div class="comment_area active_bg_form">
                        <textarea name="u_comment" id="editor" cols="30" rows="10" class="s_inp_text" title="Your comment" style="display: none; "></textarea>
                    <span>你的内容</span></div>
                    <a href="#2" class="button" id="J_SumitReply">
                        <span class="left">
                            <span class="right">
                              		回复
                            </span>
                        </span>
                    </a>
                    </form>
                </div>
                 <div id="J_MsgBox"></div>
            </div>
 	</div>
            <div class="block_cont_right">
                <div class="block_blog_category">
                  	<h4>文章分类</h4>
                    <ul class="list2" id="caregory_panel-1">
                    </ul>
                </div>
				<div class="line"></div>
                <div class="block_archives">
                  	<h4>文件夹</h4>
                    <ul class="list2" id="folder_panel">
                    </ul>
                </div>
                <div class="line"></div>
               	<div class="block_recent_posts">
                	<h4>最新产品</h4>
                	
                	  <% if(new_products && new_products.length > 0){
	               
	               		for(var i =0,len = new_products.length ; i< len ; i++){
					%>
   							<div class="post">
			                <div class="img"><a href="/productdetail?product_id=<%=new_products[i].id%>"><img style="width: 52px;"  src="<%=new_products[i].goods_img%>" alt="" title="<%=new_products[i].title%>"></a></div>
			                <div class="text">
			                 <p><a href="/productdetail?product_id=<%=new_products[i].id%>"><%=new_products[i].title%></a></p>
			                 <p class="date"><%=new_products[i].create_at%></p>
			                </div>
			               </div>
   					 <% }	%>
					<%}else{%>
					 <div class="post">
						<p class='col_fade' style="margin:20px;">暂无产品</p>
					 </div>
					<%}%>
               	 </div>
               	  <div class="line"></div>
                <div class="block_blog_category">
                  	<h4>联系我们</h4>
                    <ul class="list2">
                    	<li><a href="#2"><b>Phone:</b> <%= locals.company_info.phone %></a> </li>
                    	<li><a href="#2"><b>Fax:</b> <%= locals.company_info.tel %></a></li>
                    	<li><a href="#2"><b>Email:</b> <a href="mailto:info@elephantweb.com" class="main_link"><%= locals.company_info.email %></a></li>
                    	<li style="height: 60px;"><a href="#2"><b>Our adress:</b>  <%= locals.company_info.address %></a></li>
                    </ul>
                </div>
                
            </div>
             <div class="clear"></div>
            <div class="separator_5"></div>
            <div class="line"></div>
            <div class="clear"></div>
  <script>
	$(document).ready(function() {    
		var html_caregory_panel = '';
		html_caregory_panel+='{@each categories as item,index}'+
		'<li><a href="/newsincategory?user_id=${item.user_id}&category_id=${item.id}">${item.name}</a> ({@if !item.article_count}0{@else}${item.article_count}{@/if})</li>'+
		'{@/each}';
		var tpl_caregory_panel=juicer(html_caregory_panel);

	    $.ajax({//得到用户文章分类
			type: 'POST',
			url: '/userinfo/category/1',
			success:function(data){
			    $('#caregory_panel-1').html(tpl_caregory_panel.render(data));
			},
		  	error:function(){}
		});

	    var html_folder_panel = '';
    	html_folder_panel+='<li><a href="/filesForFront">&nbsp;&nbsp;所有文件</a></li>'; 
		html_folder_panel+='{@each folders as item,index}'+
		'<li><a href="/filesOfFolderFront?folder_id=${item.id}">&nbsp;&nbsp;${item.name}&nbsp;&nbsp;({@if !item.file_count}0{@else}${item.file_count}{@/if})</a></li>'+
		'{@/each}';
	var tpl_folder_panel=juicer(html_folder_panel);

    $.ajax({//得到用户网盘文件夹
		type: "POST",
		url: "/userinfo/folder/1",
		success:function(data){
		    $('#folder_panel').html(tpl_folder_panel.render(data));
		},
	  	error:function(){}
	});
	
	    $("#J_SumitReply").click(function(event){
		    event.preventDefault();
		    document.getElementById('reply_form').submit();
		    }
	    )







		 
	});
</script>
